<head th:fragment="head">
	<title>Content++</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Content++">
	<meta name="author" content="https://github.com/ajkr195/?tab=repositories">
	<link rel="shortcut icon" href="/spring.svg">
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/webjars/sweetalert2/dist/sweetalert2.min.css}" />
	<link th:rel="stylesheet" th:href="@{/css/app.css}" />
</head>