<div class="nonsticky-top" th:fragment="navbar">
	<header class="navbar navbar-expand-md navbar-light d-print-none">
		<div class="container-xl">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
				aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<h1 class="navbar-brand d-none-navbar-horizontal pe-0 pe-md-3">
				<a href="/index" th:href="@{/index}" th:text="${appname}"></a>
				<img src="/img/brand.png" width="110" height="32" alt="Content++" class="navbar-brand-image">
			</h1>
			<div class="navbar-nav flex-row order-md-last">
				<!--	<div class="d-none d-md-flex">
					<div class="nav-item dropdown d-none d-md-flex me-3" sec:authorize="isAuthenticated()">
						<a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1"
							aria-label="Show notifications">
							<i class="fa-regular fa-bell fa-lg text-muted"></i>
							<span class="badge bg-red"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Last updates</h3>
								</div>
								<div class="list-group list-group-flush list-group-hoverable">
									<div class="list-group-item">
										<div class="row align-items-center">
											<div class="col-auto"><span
													class="status-dot status-dot-animated bg-red d-block"></span>
											</div>
											<div class="col text-truncate">
												<a href="#" class="text-body d-block">Example 1</a>
												<div class="d-block text-muted text-truncate mt-n1">
													Long text Truncated long text...
												</div>
											</div>
											<div class="col-auto">
												<a href="#" class="list-group-item-actions">
													<i class="fa-regular fa-star icon text-muted"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="row align-items-center">
											<div class="col-auto"><span class="status-dot d-block"></span></div>
											<div class="col text-truncate">
												<a href="#" class="text-body d-block">Example 2</a>
												<div class="d-block text-muted text-truncate mt-n1">
													Some Text Goes Here
												</div>
											</div>
											<div class="col-auto">
												<a href="#" class="list-group-item-actions show">
													<i class="fa-regular fa-star icon text-yellow"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="row align-items-center">
											<div class="col-auto"><span class="status-dot d-block"></span></div>
											<div class="col text-truncate">
												<a href="#" class="text-body d-block">Example 3</a>
												<div class="d-block text-muted text-truncate mt-n1">
													Some Text Goes Here
												</div>
											</div>
											<div class="col-auto">
												<a href="#" class="list-group-item-actions">
													<i class="fa-regular fa-star icon text-muted"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="row align-items-center">
											<div class="col-auto"><span
													class="status-dot status-dot-animated bg-green d-block"></span>
											</div>
											<div class="col text-truncate">
												<a href="#" class="text-body d-block">Example 4</a>
												<div class="d-block text-muted text-truncate mt-n1">
													Some Text Goes Here
												</div>
											</div>
											<div class="col-auto">
												<a href="#" class="list-group-item-actions">
													<i class="fa-regular fa-star icon text-muted"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="nav-item dropdown" sec:authorize="isAuthenticated()">
					<a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
						aria-label="Open user menu">
						<span class="avatar avatar-sm text-danger"
							th:style="'background-image: url(/img/avatar.svg)'"></span>
						<div class="d-none d-xl-block ps-2">
							<div sec:authorize="isAuthenticated()" th:text="${principal.Username}">Admin</div>
							<!--<div class="mt-1 small text-muted" th:text="${principal.getAuthorities()}">UI Design</div>-->
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<a href="#" class="dropdown-item"><i class="fa-regular fa-user text-muted me-1"></i> Profile</a>
						<div class="dropdown-divider"></div>
						<a href="/settings" th:href="@{/settings}" class="dropdown-item"><i
								class="fa-solid fa-cog text-muted me-1"></i>
							Settings</a>
						<a href="/logout" th:href="@{/logout}" class="dropdown-item"><i
								class="fa-solid fa-right-from-bracket text-muted me-1"></i>
							Logout</a>
						<!--<span class="me-1" th:text="${principal.Username}"></span>-->
						<div th:if="${!principal.getAuthorities().empty}"><span
								th:text="${principal.getAuthorities()}"></span>
						</div>
						<div th:if="${principal.getAuthorities().empty}"><span
								class="text-center text-danger text-uppercase fw-bolder">No roles assigned yet.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="navbar-menu">
				<div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
					<ul class="navbar-nav">
						<li class="nav-item" th:classappend="${pagename == 'home' ? 'active' : ''}">
							<a class="nav-link" href="/home" th:href="@{/home}">
								<span class="nav-link-icon d-md-none d-lg-inline-block">
									<i class="fa-solid fa-house-user text-teal"></i>
								</span>
								<span class="nav-link-title"
									th:classappend="${pagename == 'home' ? 'fs-3 fw-bolder text-primary' : ''}">
									Home
								</span>
							</a>
						</li>
						<li class="nav-item" th:classappend="${pagename == 'index' ? 'active' : ''}">
							<a class="nav-link" href="/index" th:href="@{/index}">
								<span class="nav-link-icon d-md-none d-lg-inline-block">
									<i class="fa-solid fa-gauge-high text-teal"></i>
								</span>
								<span class="nav-link-title"
									th:classappend="${pagename == 'index' ? 'fs-3 fw-bolder text-primary' : ''}">
									Dashboard
								</span>
							</a>
						</li>
						<li class="nav-item dropdown"
							th:classappend="${pagename == 'documentsworkflow' OR pagename == 'activity' OR pagename == 'launchpad' OR pagename == 'listappcase' OR pagename == 'processcase' OR pagename == 'steps' ? 'active' : ''}">
							<a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown"
								data-bs-auto-close="outside" role="button" aria-expanded="false">
								<span class="nav-link-icon d-md-none d-lg-inline-block">
									<i class="fa-solid fa-arrows-turn-to-dots text-teal"></i>
								</span>
								<span class="nav-link-title"
									th:classappend="${pagename == 'documentsworkflow' OR pagename == 'activity' OR pagename == 'launchpad' OR pagename == 'listappcase' OR pagename == 'processcase' OR pagename == 'steps' ? 'fs-3 fw-bolder text-primary' : ''}">
									WorkFlow
								</span>
							</a>
							<div class="dropdown-menu">
								<div class="dropdown-menu-columns">
									<div class="dropdown-menu-column">

										<a class="dropdown-item" href="/launchpad" th:href="@{/launchpad}">
											<i
												class="fa-solid fa-arrows-split-up-and-left me-2 text-primary fa-rotate-90"></i>
											Launch Pad
										</a>

										<a class="dropdown-item" href="/documentsworkflow"
											th:href="@{/documentsworkflow}">
											<i
												class="fa-solid fa-arrows-split-up-and-left me-2 text-primary fa-rotate-270"></i>
											Documents Workflow
										</a>
										<a class="dropdown-item" href="#">
											Link1 <span
												class="badge badge-sm bg-primary-lt text-uppercase ms-auto">Link1</span>
										</a>
										<a class="dropdown-item" href="#">
											Link2 <span
												class="badge badge-sm bg-success-lt text-uppercase ms-auto">Link2</span>
										</a>

										<a class="dropdown-item" href="#">
											Link3 <span
												class="badge badge-sm bg-success-lt text-uppercase ms-auto">Link3</span>
										</a>

										<div class="dropend">
											<a class="dropdown-item dropdown-toggle" href="#sidebar-cards"
												data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button"
												aria-expanded="false">
												Preferences
												<span
													class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
											</a>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="?appView=fluid" title="FullScreen View"
													data-bs-toggle="tooltip" data-bs-placement="bottom">
													<i class="fa-solid fa-expand text-muted me-2"></i> Layout 1<span
														class="badge badge-sm bg-primary-lt text-uppercase ms-auto">
														FLUID</span>
												</a>
												<a class="dropdown-item" href="?appView=boxed" title="Reading View"
													data-bs-toggle="tooltip" data-bs-placement="bottom">
													<i class="fa-solid fa-box fa-lg text-muted me-2"></i> Layout 2
													<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">
														BOXED</span>
												</a>

												<a href="?theme=dark" class="dropdown-item hide-theme-dark"
													title="Enable dark mode" data-bs-toggle="tooltip"
													data-bs-placement="bottom">
													<i class="fa-regular fa-moon fa-lg text-muted"></i>
													<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">
														Dark-Mode</span>
												</a>
												<a href="?theme=light"
													class="dropdown-item hide-theme-light text-yellow"
													title="Enable light mode" data-bs-toggle="tooltip"
													data-bs-placement="bottom">
													<i class="fa-solid fa-sun fa-lg"></i>
													<span class="badge badge-sm bg-yellow-lt text-uppercase ms-auto">
														Light-Mode</span>
												</a>
											</div>
										</div>
									</div>
									<div class="dropdown-menu-column">

										<a class="dropdown-item" href="/listappcase" th:href="@{/listappcase}">
											<i class="fa-solid fa-list-ol me-2 text-success"></i>
											Case List
										</a>

										<a class="dropdown-item" href="/activity" th:href="@{/activity}">
											Activity <span
												class="badge badge-sm bg-success-lt text-uppercase ms-auto">Activity</span>
										</a>
										<a class="dropdown-item" href="/steps" th:href="@{/steps}">
											Steps <span
												class="badge badge-sm bg-success-lt text-uppercase ms-auto">Steps</span>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown"
							th:classappend="${pagename == 'documentsdb' OR pagename == 'documentsfs' OR pagename == 's3bucket' ? 'active' : ''}">
							<a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown"
								data-bs-auto-close="outside" role="button" aria-expanded="false">
								<span class="nav-link-icon d-md-none d-lg-inline-block">
									<i class="fa-brands fa-hive text-teal"></i>
								</span>
								<span class="nav-link-title"
									th:classappend="${pagename == 'documentsfs' OR pagename == 'documentsdb' OR pagename == 's3bucket' ? 'fs-3 fw-bolder text-primary' : ''}">
									Repositories
								</span>
							</a>
							<div class="dropdown-menu">
								<div class="dropdown-menu-columns">
									<div class="dropdown-menu-column">
										<a class="dropdown-item" href="/documentsdb">
											<i class="fa-solid fa-database me-2 text-danger"></i> Documents <span
												class="badge badge-sm bg-danger-lt text-uppercase ms-auto">RDBMS</span>
										</a>
										<a class="dropdown-item" href="/documentsfs">
											<i class="fa-solid fa-hard-drive me-2 text-primary"></i> Documents <span
												class="badge badge-sm bg-primary-lt text-uppercase ms-auto">FileSystem</span>
										</a>
									</div>
									<div class="dropdown-menu-column">
										<a class="dropdown-item" href="/s3bucket">
											<i class="fa-brands fa-aws fa-xl me-2 text-success"></i> Documents <span
												class="badge badge-sm bg-success-lt text-uppercase ms-auto">S3Bucket</span>
										</a>
										<a class="dropdown-item" href="#">Link1</a>
										<a class="dropdown-item" href="#">Link2</a>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown"
								data-bs-auto-close="outside" role="button" aria-expanded="false">
								<span class="nav-link-icon d-md-none d-lg-inline-block">
									<i class="fa-solid fa-sliders text-teal"></i>
								</span>
								<span class="nav-link-title">
									Preferences
								</span>
							</a>
							<div class="dropdown-menu">
								<div class="dropdown-menu-columns">
									<div class="dropdown-menu-column">

										<a class="dropdown-item" href="?appView=fluid" title="FullScreen View"
											data-bs-toggle="tooltip" data-bs-placement="bottom">
											<i class="fa-solid fa-expand text-muted me-2"></i> Layout 1<span
												class="badge badge-sm bg-primary-lt text-uppercase ms-auto">
												FLUID</span>
										</a>
										<a class="dropdown-item" href="?appView=boxed" title="Reading View"
											data-bs-toggle="tooltip" data-bs-placement="bottom">
											<i class="fa-solid fa-box fa-lg text-muted me-2"></i> Layout 2
											<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">
												BOXED</span>
										</a>

										<a href="?theme=dark" class="dropdown-item hide-theme-dark"
											title="Enable dark mode" data-bs-toggle="tooltip"
											data-bs-placement="bottom">
											<i class="fa-regular fa-moon fa-lg text-muted"></i>
											<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">
												Dark-Mode</span>
										</a>
										<a href="?theme=light" class="dropdown-item hide-theme-light text-yellow"
											title="Enable light mode" data-bs-toggle="tooltip"
											data-bs-placement="bottom">
											<i class="fa-solid fa-sun fa-lg"></i>
											<span class="badge badge-sm bg-yellow-lt text-uppercase ms-auto">
												Light-Mode</span>
										</a>
									</div>
								</div>
							</div>
						</li>
						<!--sec:authorize="hasAuthority('ADMIN')" -->
						<li class="nav-item dropdown"
							th:classappend="${pagename == 'listuser' OR pagename == 'departmentedit' OR pagename == 'appCaseTypeDocTypeedit' OR pagename == 'listcasetypedoctypes' OR pagename == 'listinventory' OR pagename == 'listdepartment'  OR pagename == 'listcasetype' OR pagename == 'appCaseTypeedit' OR pagename == 'listcasepropstype' ? 'active' : ''}">
							<a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown"
								data-bs-auto-close="outside" role="button" aria-expanded="false">
								<span class="nav-link-icon d-md-none d-lg-inline-block">
									<i class="fa-solid fa-screwdriver-wrench icon text-teal"></i>
								</span>
								<span class="nav-link-title"
									th:classappend="${pagename == 'listuser' OR pagename == 'appCaseTypeDocTypeedit' OR pagename == 'listcasetypedoctypes' OR pagename == 'listinventory' OR pagename == 'departmentedit' OR pagename == 'listdepartment'  OR pagename == 'listcasetype' OR pagename == 'appCaseTypeedit' OR pagename == 'listcasepropstype' ? 'fs-3 fw-bolder text-primary' : ''}">
									Admin
								</span>
							</a>

							<div class="dropdown-menu">

								<a class="dropdown-item" href="/api/csv/listinventory" th:href="@{/api/csv/listinventory}">
									<i class="fa-solid fa-server icon text-teal me-1"></i> <span
										class="badge badge-sm bg-success-lt text-uppercase ms-auto">
										Inventory</span>
								</a>

								<a class="dropdown-item" href="/listuser" th:href="@{/listuser}">
									<i class="fa-solid fa-user-group icon text-teal me-1"></i> <span
										class="badge badge-sm bg-success-lt text-uppercase ms-auto">
										User List</span>
								</a>

								<a class="dropdown-item" href="/listdepartment" th:href="@{/listdepartment}">
									<i class="fa-solid fa-puzzle-piece icon text-purple me-1"></i> <span
										class="badge badge-sm bg-success-lt text-uppercase ms-auto">
										Department List</span>
								</a>

								<a class="dropdown-item" href="/listcasetype" th:href="@{/listcasetype}">
									<i class="fa-solid fa-list-check icon text-blue me-1"></i> <span
										class="badge badge-sm bg-success-lt text-uppercase ms-auto">
										CaseType List</span>
								</a>
								
								<a class="dropdown-item" href="/listcasetype" th:href="@{/listcasetype}">
									<i class="fa-solid fa-list-check icon text-blue me-1"></i> <span
										class="badge badge-sm bg-success-lt text-uppercase ms-auto">
										CaseType List</span>
								</a>
								
								<a class="dropdown-item" href="/casetypeDocTypeEdit" th:href="@{/casetypeDocTypeEdit}">
									<i class="fa-solid fa-list-check icon text-blue me-1"></i> <span
										class="badge badge-sm bg-success-lt text-uppercase ms-auto">
										Create CaseType Doc Type</span>
								</a>
								
								<a class="dropdown-item" href="/listcasetypedoctypes" th:href="@{/listcasetypedoctypes}">
									<i class="fa-solid fa-list-check icon text-blue me-1"></i> <span
										class="badge badge-sm bg-success-lt text-uppercase ms-auto">
										CaseType Doc Type List</span>
								</a>
								
								<a class="dropdown-item" href="/listcasetypeprops" th:href="@{/listcasetypeprops}">
									<i class="fa-solid fa-list-check icon text-blue me-1"></i> <span
										class="badge badge-sm bg-success-lt text-uppercase ms-auto">
										CaseType Properties List</span>
								</a>
								<a class="dropdown-item" href="/listcasetypesteps" th:href="@{/listcasetypesteps}">
									<i class="fa-solid fa-list-check icon text-blue me-1"></i> <span
										class="badge badge-sm bg-success-lt text-uppercase ms-auto">
										CaseType Step List</span>
								</a>



							</div>
						</li>
						<li class="nav-item dropdown" th:classappend="${pagename == 'help' ? 'active' : ''}">
							<a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown"
								data-bs-auto-close="outside" role="button" aria-expanded="false">
								<span class="nav-link-icon d-md-none d-lg-inline-block">
									<i class="fa-regular fa-life-ring text-teal"></i>
								</span>
								<span class="nav-link-title"
									th:classappend="${pagename == 'help' ? 'fs-3 fw-bolder text-primary' : ''}">
									Help
								</span>
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/help">
									Information
								</a>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</header>
</div>