<!DOCTYPE html>
<html data-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body class="app">

	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-fluid">

				<h1 class="app-page-title">My Account</h1>
				<div class="row gy-4">
					<div class="col-12 col-lg-6">
						<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder">
											<i class="fa-solid fa-user"></i>
										</div>

									</div>
									<div class="col-auto">
										<h4 class="app-card-title">Profile</h4>
									</div>
								</div>
							</div>
							<div class="app-card-body px-4 w-100">
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label mb-2"><strong>Photo</strong></div>
											<div class="item-data"><img class="profile-image" th:src="@{/img/profile-1.png}" alt=""></div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Name</strong></div>
											<div class="item-data">James Doe</div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Email</strong></div>
											<div class="item-data">some.name@domain.com</div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Website</strong></div>
											<div class="item-data">
												https://somewebsite.com
											</div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Location</strong></div>
											<div class="item-data">
												New York
											</div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
							</div>
							<div class="app-card-footer p-4 mt-auto">
								<a class="btn app-btn-primary" href="#">Manage Profile</a>
							</div>

						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder">
											<i class="fa-solid fa-sliders"></i>
										</div>

									</div>
									<div class="col-auto">
										<h4 class="app-card-title">Preferences</h4>
									</div>
								</div>
							</div>
							<div class="app-card-body px-4 w-100">

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Language </strong></div>
											<div class="item-data">English</div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Time Zone</strong></div>
											<div class="item-data">Central Standard Time (UTC-6)</div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Currency</strong></div>
											<div class="item-data">$(US Dollars)</div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Email Subscription</strong></div>
											<div class="item-data">Off</div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>SMS Notifications</strong></div>
											<div class="item-data">On</div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
							</div>
							<div class="app-card-footer p-4 mt-auto">
								<a class="btn app-btn-primary" href="#">Manage Preferences</a>
							</div>

						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder">
											<i class="fa-solid fa-shield-halved"></i>
										</div>

									</div>
									<div class="col-auto">
										<h4 class="app-card-title">Security</h4>
									</div>
								</div>
							</div>
							<div class="app-card-body px-4 w-100">

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Password</strong></div>
											<div class="item-data">••••••••</div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Change</a>
										</div>
									</div>
								</div>
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Two-Factor Authentication</strong></div>
											<div class="item-data">You haven't set up two-factor authentication. </div>
										</div>
										<div class="col text-end">
											<a class="btn-sm app-btn-secondary" href="#">Set up</a>
										</div>
									</div>
								</div>
							</div>

							<div class="app-card-footer p-4 mt-auto">
								<a class="btn app-btn-primary" href="#">Manage Security</a>
							</div>

						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder">
											<i class="fa-regular fa-credit-card"></i>
										</div>

									</div>
									<div class="col-auto">
										<h4 class="app-card-title">Payment methods</h4>
									</div>
								</div>
								<!--//app-card-header-->
								<div class="app-card-body px-4 w-100">

									<div class="item border-bottom py-3">
										<div class="row justify-content-between align-items-center">
											<div class="col-auto">
												<div class="item-label"><i
														class="fab fa-cc-visa me-2"></i><strong>Credit/Debit Card
													</strong>
												</div>
												<div class="item-data">1234*******5678</div>
											</div>
											<div class="col text-end">
												<a class="btn-sm app-btn-secondary" href="#">Edit</a>
											</div>
										</div>
									</div>
									<div class="item border-bottom py-3">
										<div class="row justify-content-between align-items-center">
											<div class="col-auto">
												<div class="item-label"><i
														class="fab fa-paypal me-2"></i><strong>PayPal</strong></div>
												<div class="item-data">Not connected</div>
											</div>
											<div class="col text-end">
												<a class="btn-sm app-btn-secondary" href="#">Connect</a>
											</div>
										</div>
									</div>
								</div>
								<div class="app-card-footer p-4 mt-auto">
									<a class="btn app-btn-primary" href="#">Manage Payment</a>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>

		</div>

		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/font-awesome/js/all.js}"></script>

		<script th:src="@{/js/app.js}"></script>

</body>

</html>