<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>
<style>

</style>

<body class=" ">
	<!-- body class= layout-fluid layout-boxed OR blank""-->
	<div class="page">
		<!-- Navbar -->
		<div th:replace="~{fragments/navbar :: navbar}"></div>
		<div class="page-wrapper">
			<!-- Page header -->
			<div class="page-header d-print-none">
				<div class="container-xl">
					<div class="row g-2 align-items-center">
						<div class="col">
							<!-- Page pre-title -->
							<div class="page-pretitle">
								Manage Case
							</div>
							<h2 class="page-title" th:if="${editingappCase}">Process Case
							</h2>
							<h2 class="page-title" th:if="${creatingappCase}">Add New Case
							</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- Page body -->
			<div class="page-body">
				<div class="container-xl">

					<div class="d-flex flex-row justify-content-center align-items-center" data-aos="flip-down">
						<div class="arrow-steps clearfix">
							<div class="step launch">
								<span> LAUNCH </span>
							</div>
							<div th:each="caseStep : ${appCase.appCaseType.appCaseStepList}" th:class="mb-1"
								th:classappend="${caseStep.casetypestepname == appCaseCurrentStep} ? 'step current mx-2' : 'step mx-2'"
								th:text="${caseStep.casetypestepname}"></div>
							<div class="step closed" th:if="${CLOSED_COMPLETE}">
								<span> CLOSED </span>
							</div>
							<div class="step tobeclosed" th:unless="${CLOSED_COMPLETE}">
								<span> CLOSED </span>
							</div>
						</div>
					</div>
					<div class="d-flex flex-row justify-content-center align-items-center" data-aos="flip-down">
						<div class="col-md-12" th:if="${appCase.currentstepname != 'CLOSED_COMPLETE'}">
								<div th:if="${completionPercentage != null}" class="progress-bar bg-primary text-white" role="progressbar"
									th:style="'width: ' + ${completionPercentage} + '%' + '; height:20px;'"
									aria-valuemax="100" th:text="${completionPercentage} + ' %'">
								</div>

						</div>
						<div class="col-md-12" th:if="${appCase.currentstepname == 'CLOSED_COMPLETE'}">
							<div class="progress" role="progressbar">
								<div class="progress-bar bg-success" role="progressbar" style="width: 100%"
									aria-valuemax="100">100%</div>
							</div>
						</div>
					</div>



					<div class="card">
						<div class="card-body">
							<form class="card-body border-bottom" th:action="@{/caseEditById}" th:object="${appCase}"
								method="post">

								<input th:type="hidden" id="id" name="id" th:field="${appCase.id}" />

								<div class="m-0 mb-2 d-flex justity-content-between">
									<button type="button" name="action" value="reject" th:unless="${FIRSTSTEP}"
										th:onClick="appCaseRejectByCaseId([[${appCase.id}]])"
										class="btn btn-sm btn-danger btn-rounded">
										<i class="fa-solid fa-backward fa-lg me-2"></i>
										Reject </button>
									<button type="button" name="action" value="approve" th:unless="${CLOSED_COMPLETE}"
										th:onClick="appCaseApproveByCaseId([[${appCase.id}]])"
										class="btn btn-sm btn-primary ms-auto btn-rounded"> Approve <i
											class="fa-solid fa-forward fa-lg ms-2"></i></button>
								</div>

								<div class="col-md-12">
									<!--<label class="form-label fw-bolder fs-3" for="casetitle">CASE INFO</label>-->
									<div class="row">
										<div class="row col-md-4">
											<div class="col-md-3">
												<span class="fw-bolder">Id: </span>
											</div>
											<div class="col-md-9 text-start"><span th:text="${appCase.caseuuid}"></span>
											</div>
										</div>

										<div class="row col-md-4">
											<div class="col-md-3">
												<span class="fw-bolder">Title: </span>
											</div>
											<div class="col-md-9 text-start"><span
													th:text="${appCase.casetitle}"></span>
											</div>
										</div>


										<div class="row col-md-4">
											<div class="col-md-3">
												<span class="fw-bolder">Type: </span>
											</div>
											<div class="col-md-9 text-start"><span
													th:text="${appCase.appCaseType.casetypename}"></span>
											</div>
										</div>

									</div>

									<div class="row">

										<div class="row col-md-4">
											<div class="col-md-3">
												<span class="fw-bolder">B-Unit:</span>
											</div>
											<div class="col-md-9 text-start"><span
													th:text="${appCase.appCaseType.appDepartment.departmentname}"></span>
											</div>
										</div>

										<div class="row col-md-4">
											<div class="col-md-3">
												<span class="fw-bolder">SLA: </span>
											</div>
											<div class="col-md-9 text-start"><span
													th:text="${appCase.appCaseType.casetypesladuration}  + ' (' +${appCase.appCaseType.casetypeslaunit} + ')'"></span>
											</div>
										</div>


										<div class="row col-md-4">
											<div class="col-md-3">
												<span class="fw-bolder">StartDate: </span>
											</div>
											<div class="col-md-9 text-start"><span
													th:text="${appCase.createdDate}"></span>
											</div>
										</div>


									</div>


								</div>

								<hr />

								<div class="col-md-12">
									<label class="form-label fw-bolder fs-3" for="casetitle">CASE PROPERTIES</label>

									<div th:each="appCase,rowStat : ${appCasePropertyDto.getAppCaseProperty()}"
										data-aos="flip-down">
										<!-- 									<td th:text="${rowStat.count}">1</td> -->
										<input type="hidden"
											th:field="${appCase.appCasePropertyList[__${rowStat.index}__].id}">



										<div class="row m-0">
											<div class="text-end col-4 mb-2"><input
													class="form-label fw-bolder mt-1 text-secondary"
													th:field="${appCase.appCasePropertyList[__${rowStat.index}__].casepropertyname}"
													th:errorclass="is-invalid" readonly required
													style="border: none; outline: none;" /></div>
											<div class="text-start col-8"><input type="text"
													class="form-control form-control-sm text-start"
													th:field="${appCase.appCasePropertyList[__${rowStat.index}__].casepropertyvalue}"
													th:errorclass="is-invalid" required />
											</div>
										</div>



										<input type="hidden" class="form-control form-control-sm"
											th:field="${appCase.appCasePropertyList[__${rowStat.index}__].casepropertytype}"
											th:errorclass="is-invalid" required /> <input type="hidden"
											class="form-control form-control-sm"
											th:field="${appCase.appCasePropertyList[__${rowStat.index}__].casepropertyrequired}"
											th:errorclass="is-invalid" required /> <input type="hidden"
											class="form-control form-control-sm"
											th:field="${appCase.appCasePropertyList[__${rowStat.index}__].casepropertysize}"
											th:errorclass="is-invalid" required /> <input type="hidden"
											class="form-control form-control-sm"
											th:field="${appCase.appCasePropertyList[__${rowStat.index}__].casepropertymin}"
											th:errorclass="is-invalid" required /> <input type="hidden"
											class="form-control form-control-sm"
											th:field="${appCase.appCasePropertyList[__${rowStat.index}__].casepropertymax}"
											th:errorclass="is-invalid" required /> <input type="hidden"
											class="form-control form-control-sm"
											th:field="${appCase.appCasePropertyList[__${rowStat.index}__].casepropertymaxlength}"
											th:errorclass="is-invalid" required />


										<div class="invalid-feedback">This is a required input.
											Can not be left empty.</div>
									</div>
								</div>

								<div class="mt-3 d-flex justity-content-between">
									<a href="/listappcase" th:href="@{/listappcase}" class="btn app-btn-secondary">
										Cancel
									</a>
									<button type="submit" th:unless="${CLOSED_COMPLETE}"
										class="btn app-btn-primary ms-auto">
										<i class="fa-regular fa-circle-check fa-lg me-2"></i>
										Update
									</button>

								</div>
								<hr />
								<div class="row">

									<div class="col-md-6">
										<label class="form-label fw-bolder fs-3" for="casetitle">CASE COMMENTS:</label>
										<input class="form-control mb-2" type="text" id="casecomment" name="casecomment"
											required />
										<div th:each="caseComment: ${appCase.caseCommentList}">
											<p class="mt-2 mb-2 fs-3" th:utext="${caseComment.casecomment}"></p>
										</div>
									</div>

									<div class="col-md-6">
										<label class="form-label fw-bolder fs-3" for="casetitle">CASE DOCUMENTS:</label>
										<div class="text-end"><a href="#"
												class="btn btn-success d-none d-sm-inline-block"
												th:onClick="uploadCaseDocuments([[${appCase.id}]])">
												<i class="fa-solid fa-plus fa-xl"></i>
												Upload Case Files
											</a></div>


										<!--div th:each="caseDoc: ${appCase.caseDocumentList}">
											<p th:text="${caseDoc.fileName}"></p>
											<a class="btn btn-sm btn-outline-default"
												th:href="@{/downloadCaseFile/{id}(id=${caseDoc.id})}"
												title="Download this file"><i
													class="fa-solid fa-download text-success"></i></a>
										</div-->
										<div class="app-card-body p-4" th:if="${appCase.caseDocumentList.empty}">
											<div class="text-red">
												No Case Files Added Yet. Click "Upload Case Files" to add.
											</div>
										</div>

										<div class="table-responsive">
											<table class="table card-table table-vcenter text-nowrap datatable"
												th:if="${!appCase.caseDocumentList.empty}">
												<thead>
													<tr>
														<th>#</th>
														<th>Id</th>
														<th>FileName</th>
														<th>Type</th>
														<th>DocType</th>
														<!--th>Size</th>
											<th class="table-col-hidden">CreatedBy</th>
											<th class="table-col-hidden">DateCreated</th>
											<th class="table-col-hidden">ModifiedBy</th>
											<th class="table-col-hidden">LastModified</th-->
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>

													<tr th:each="myfile,rowStat : ${appCase.caseDocumentList}">
														<td class="cell" th:text="${rowStat.count}">1</td>
														<td class="cell" th:text="${myfile.id}"></td>
														<td class="cell"> <span class="truncate"
																th:text="${myfile.fileName}">None</span></td>
														<td th:switch="${myfile.fileType}">
															<span th:case="'application/x-msdownload'"><i
																	class="fa-brands fa-windows text-primary fa-xl"></i></span>
															<span th:case="'application/pdf'"><i
																	class="fas fa-file-pdf text-danger fa-2xl"></i></span>
															<span th:case="'application/msword'"><i
																	class="fa-solid fa-file-word text-primary fa-2xl"></i></span>
															<span
																th:case="'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"><i
																	class="fa-solid fa-file-word text-primary fa-2xl"></i></span>
															<span th:case="'multipart/related'"><i
																	class="fa-regular fa-file-code text-secondary fa-2xl"></i></span>
															<span th:case="'application/vnd.oasis.opendocument.text'"><i
																	class="fa-solid fa-file-word text-primary fa-2xl"></i></span>
															<span th:case="'text/plain'"><i
																	class="fa-regular fa-file-lines text-secondary fa-2xl"></i></span>
															<span th:case="'text/xml'"><i
																	class="fa-solid fa-file-code text-secondary fa-2xl"></i></span>
															<span th:case="'image/png'"><i
																	class="fa-solid fa-file-image text-info fa-2xl"></i></span>
															<span th:case="'image/jpeg'"><i
																	class="fa-solid fa-file-image text-info fa-2xl"></i></span>
															<span th:case="'image/tiff'"><i
																	class="fa-solid fa-file-image text-info fa-2xl"></i></span>
															<span th:case="'image/bmp'"><i
																	class="fa-solid fa-file-image text-info fa-2xl"></i></span>
															<span th:case="'image/gif'"><i
																	class="fa-solid fa-file-image text-info fa-2xl"></i></span>
															<span th:case="'video/x-ms-wmv'"><i
																	class="fa-solid fa-play text-muted fa-2xl"></i></span>
															<span th:case="'audio/mpeg'"><i
																	class="fa-solid fa-music text-muted fa-xl"></i></span>
															<span th:case="'video/mp4'"><i
																	class="fa-solid fa-play text-lite fa-2xl"></i></span>
															<span
																th:case="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"><i
																	class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
															<span th:case="'application/vnd.ms-excel'"><i
																	class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
															<span
																th:case="'application/vnd.oasis.opendocument.spreadsheet'"><i
																	class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
															<span
																th:case="'application/vnd.openxmlformats-officedocument.presentationml.slideshow'"><i
																	class="fa-solid fa-file-powerpoint text-warning fa-2xl"></i></span>
															<span th:case="'application/vnd.ms-powerpoint'"><i
																	class="fa-solid fa-file-powerpoint text-warning fa-2xl"></i></span>
															<span
																th:case="'application/vnd.openxmlformats-officedocument.presentationml.presentation'"><i
																	class="fa-solid fa-file-powerpoint text-warning fa-2xl"></i></span>
															<span th:case="'text/html'"><i
																	class="fa-solid fa-file-code text-secondary fa-2xl"></i></span>
															<span th:case="'application/octet-stream'"><i
																	class="fa-regular fa-file text-primary fa-2xl"></i></span>
															<span th:case="'text/csv'"><i
																	class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
															<span th:case="'*'"><i
																	class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
														</td>
														<td class="cell" th:text="${myfile.documenttype}"></td>
														<!--	<td th:switch="${myfile.fileSize gt 1024}">
												<span th:case="true" th:text="${myfile.fileSize / 1024 + ' kb'}"></span>
												<span th:case="false" th:text="${myfile.fileSize + ' bytes'}"></span>
											</td>
											<td class="cell table-col-hidden"><span class="note"
													th:text="${myfile.createdBy}">None</span></td>
											<td class="cell table-col-hidden"><span class="note"
													th:text="${myfile.createdDate}">None</span></td>
											<td class="cell table-col-hidden"><span class="note"
													th:text="${myfile.lastModifiedBy}">None</span></td>
											<td class="cell table-col-hidden"><span class="note"
													th:text="${myfile.lastModifiedDate}">None</span></td> -->
														<td><a class="btn btn-sm btn-outline-default"
																th:href="@{/viewCaseFile/{id}(id=${myfile.id})}"
																target="_blank" title="View in browser's new tab"><i
																	class="fa-solid fa-eye text-primary"></i></a><a
																class="btn btn-sm btn-outline-default"
																th:onclick="showCaseFileInfo([[${myfile}]]);"
																title="Details"><i
																	class="fa-solid fa-info text-info"></i></a><a
																class="btn btn-sm btn-outline-default"
																th:href="@{/downloadCaseFile/{id}(id=${myfile.id})}"
																title="Download this file"><i
																	class="fa-solid fa-download text-success"></i></a><a
																class="btn btn-sm btn-outline-default"
																th:onclick="deleteCasefile([[${myfile.id}]], this);"
																title="Delete this file"><i
																	class="fa-regular fa-trash-can text-danger"></i>
															</a></td>
													</tr>
												</tbody>
												<thead>
													<tr>
														<th>#</th>
														<th>Id</th>
														<th>FileName</th>
														<th>Type</th>
														<th>DocType</th>
														<!--	<th>Size</th>
											<th class="table-col-hidden">CreatedBy</th>
											<th class="table-col-hidden">DateCreated</th>
											<th class="table-col-hidden">ModifiedBy</th>>											<th class="table-col-hidden">LastModified</th>-->
														<th>Actions</th>
													</tr>
												</thead>
											</table>

										</div>















									</div>
								</div>


								<div class="row">
									<label class="form-label fw-bolder fs-3" for="casetitle">CASE HISOTRY:</label>
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table card-table table-vcenter text-nowrap datatable"
												th:if="${!appCase.appCaseHistoryList.empty}">
												<thead>
													<tr>
														<th>#</th>
														<!--														<th>Id</th>-->
														<th>Activity</th>
														<!--th>Size</th-->
														<th class="table-col-hidden">CaseWorker</th>
														<th class="table-col-hidden">Date Time</th>
														<!--											<th class="table-col-hidden">ModifiedBy</th>-->
														<!--											<th class="table-col-hidden">LastModified</th>-->
													</tr>
												</thead>
												<tbody>

													<tr th:each="myfile,rowStat : ${appCase.appCaseHistoryList}">
														<td class="cell" th:text="${rowStat.count}">1</td>
														<!--														<td class="cell" th:text="${myfile.id}"></td>-->
														<td class="cell"> <span class="truncate"
																th:text="${myfile.casehistorytext}">None</span></td>
														<!--	<td th:switch="${myfile.fileSize gt 1024}">
												<span th:case="true" th:text="${myfile.fileSize / 1024 + ' kb'}"></span>
												<span th:case="false" th:text="${myfile.fileSize + ' bytes'}"></span>
											</td> -->
														<td class="cell table-col-hidden"><span class="note"
																th:text="${myfile.createdBy}">None</span></td>
														<td class="cell table-col-hidden"><span class="note"
																th:text="${myfile.createdDate}">None</span></td>
														<!--											<td class="cell table-col-hidden"><span class="note"-->
														<!--													th:text="${myfile.lastModifiedBy}">None</span></td>-->
														<!--											<td class="cell table-col-hidden"><span class="note"-->
														<!--													th:text="${myfile.lastModifiedDate}">None</span></td>-->
													</tr>
												</tbody>
												<thead>
													<tr>
														<th>#</th>
														<!--														<th>Id</th>-->
														<th>Activity</th>
														<!--	<th>Size</th-->
														<th class="table-col-hidden">CaseWorker</th>
														<th class="table-col-hidden">Date Time</th>
														<!--											<th class="table-col-hidden">ModifiedBy</th>-->
														<!--											<th> class="table-col-hidden">LastModified</th>-->
													</tr>
												</thead>
											</table>

										</div>
									</div>
								</div>



								<!--	<div class="mt-5 mb-1 d-flex justity-content-between">

									<button type="submit" name="action" value="reject"
										th:formaction="@{/rejectCase}" class="btn app-btn-primary"> <i class="fa-solid fa-backward fa-lg me-2"></i> Reject</button>
									<button type="submit" name="action" value="approve"
										th:formaction="@{/approveCase}" class="btn app-btn-primary ms-auto"> Approve <i class="fa-solid fa-forward fa-lg ms-2"></i></button>
										
								</div> -->



							</form>
						</div>






					</div>
				</div>
			</div>
		</div>


		<!-- Modal -->

		<div th:replace="~{fragments/footer :: footer}"></div>

	</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/font-awesome/js/all.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/sweetalert2/dist/sweetalert2.all.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/app.js}"></script>
	<script type="text/javascript" th:src="@{/js/userdata.js}"></script>

	<script>
		function deleteCasefile(id, Object) {
			Swal.fire({
				title: 'Are you sure?',
				text: "You want to Delete this file? This operation is irreversible and this file may not be recovered later.",
				icon: 'warning',
				showDenyButton: true,
				confirmButtonColor: '#006666',
				denyButtonColor: 'gray',
				confirmButtonText: 'Yes, delete it!',
				denyButtonText: `Don't delete`,
			}).then((result) => {
				if (result.isConfirmed) {
					fetch('/deleteCasefile/' + id, {
						method: 'DELETE',
					})
					Swal.fire(
						'Deleted!',
						'Your file has been deleted.',
						'success'
					)
					Object.closest('tr').remove();
				} else if (result.isDenied) {
					Swal.fire('Great. Changes are not saved.', 'Your important file is safe  !!  ', 'info')
				}
			})
		}
	</script>

	<script>
		function appCaseApproveByCaseId(id) {


			Swal.fire({
				title: 'Are you sure to approve?',
				icon: 'question',
				//width: '40%',
				showDenyButton: true,
				denyButtonText: 'Cancel',
				showCloseButton: true,
				showConfirmButton: true,
				confirmButtonText: 'Approve',
				allowOutsideClick: false,
			}).then((result) => {

				if (result.isConfirmed) {

					//alert(JSON.stringify(postdata));


					fetch('/appCaseApproveByCaseId/' + id, {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({"id": id}),
					}).then((response) => {

						//alert(response.status);

						if (response.status === 201) {
							Swal.fire({
								icon: 'success',
								title: 'Success !',
								text: 'Case got approved successfully !',
								footer: '<a href="/caseEditById/' + id +'">Back to Case</a>'
							}).then(() => {
								//location.reload();
								window.location.href = "/listappcase";
							});
						}

					})
						.then((data) => {
							//alert('Success:', data);
							//drawTableFromData(id);
							//Swal.fire({
							//icon: 'success',
							//title: 'Success !',
							//text: 'Casetype Property Saved successfully !',
							//footer: '<a href="/listappcase" th:href="@{/listappcase}">Go to Case List</a>'
							//});
						})
						.catch((error) => {
							//console.error('Error:', error);
							Swal.fire({
								icon: 'error',
								title: 'Oops...',
								text: 'Case approval failed  !',
								footer: '<a href="">Why do I have this issue?</a>'
							});
						});

				} else if (result.isDenied) {
					Swal.fire('No action performed', 'Try again to process  !!  ', 'info')
				}
			})

		}
	</script>

	<script>
		function appCaseRejectByCaseId(id) {


			Swal.fire({
				title: 'Are you sure to reject?',
				icon: 'warning',
				//width: '40%',
				showDenyButton: true,
				denyButtonText: 'Cancel',
				showCloseButton: true,
				showConfirmButton: true,
				confirmButtonText: 'Reject',
				allowOutsideClick: false,
			}).then((result) => {

				if (result.isConfirmed) {

					//alert(JSON.stringify(postdata));


					fetch('/appCaseRejectByCaseId/' + id, {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({"id": id}),
					}).then((response) => {

						//alert(response.status);

						if (response.status === 201) {
							Swal.fire({
								icon: 'success',
								title: 'Success !',
								text: 'Case got rejected successfully !',
								footer: '<a href="/caseEditById/' + id +'">Back to Case</a>'
							}).then(() => {
								window.location.href = "/listappcase" ;
							});
						}

					})
						.then((data) => {

							//alert('Success:', data);
							//drawTableFromData(id);
							//Swal.fire({
							//icon: 'success',
							//title: 'Success !',
							//text: 'Casetype Property Saved successfully !',
							//footer: '<a href="/listappcase" th:href="@{/listappcase}">Go to Case List</a>'
							//});
						})
						.catch((error) => {
							//console.error('Error:', error);
							Swal.fire({
								icon: 'error',
								title: 'Oops...',
								text: 'Case rejection failed  !',
								footer: '<a href="">Why do I have this issue?</a>'
							});
						});

				} else if (result.isDenied) {
					Swal.fire('No action on case was performed', 'Try again to process  !!  ', 'info')
				}
			})

		}
	</script>

	<script>
		function uploadCaseDocuments(id) {

			let htmlstring = '<label class="form-label fw-bolder fs-3" for="casetitle">Select Case Files</label>' +
				'<input type="file" id="file-selector" multiple> <br/><br/>' +
				'<label class="form-label fw-bolder fs-3" for="casetitle">Select Document Type</label>' +
				'<select id="documenttype" name="documenttype"></select>';

			Swal.fire({
				title: 'Upload Case File(s)',
				icon: 'info',
				html: htmlstring,
				showDenyButton: true,
				denyButtonText: 'Cancel',
				showCloseButton: true,
				showConfirmButton: true,
				confirmButtonText: 'Upload',
				allowOutsideClick: false,
				showLoaderOnConfirm: true,
				didOpen: function () {
					getDropDownData(id);
				},
				preConfirm: () => {

					const fileselector = Swal.getPopup().querySelector('#file-selector').value
					if (!fileselector) {
						Swal.showValidationMessage(`Please select at least one or more file(s). !`);
					}

					const doctypeselector = Swal.getPopup().querySelector('#documenttype').value
					if (!doctypeselector) {
						Swal.showValidationMessage(`Please select document type. !`);
					}



				}
			}).then((result) => {

				if (result.isConfirmed) {
					const fileselector = document.getElementById('file-selector');
					const doctypeselector = document.getElementById('documenttype');
					var files = fileselector.files;
					var formData = new FormData();
					formData.append("caseid", id);
					formData.append("doctype", doctypeselector.value);
					for (var index = 0; index < files.length; index++) {
						formData.append("files", files[index]);
					}
					fetch('/uploadCaseMultipleFiles', {
						method: 'POST',
						body: formData
					}).then((response) => {
						response.json();
						if (response.status == 200) {
							Swal.fire(
								'Uploaded!',
								'All files uploaded successfully.',
								//'All files uploaded successfully. Response Code: ' + response.status,
								'success'
							).then(() => {
								location.reload();
							});
						} else if (response.status == 405) {
							Swal.fire(
								'Upload failed!',
								'File(s) already exist(s). ',
								'error'
							).then(() => {
								location.reload();
							});
						} else {
							Swal.fire(
								'Upload Failed!',
								error,
								'error'
							)
						}

					}).catch((error) => {
						Swal.fire(
							'Upload Failed!',
							error,
							'error'
						)
					});

				} else if (result.isDenied) {
					Swal.fire('No file uploaded', 'Try again to upload files  !!  ', 'info')
				}
			})

		}
	</script>

	<script>
		function getDropDownData(id) {
			let dropdown = document.getElementById('documenttype');
			dropdown.length = 0;

			let defaultOption = document.createElement('option');
			defaultOption.text = 'Select Document Type';
			defaultOption.value = '';

			dropdown.add(defaultOption);
			dropdown.selectedIndex = 0;


			const url = 'http://localhost:8080/getCaseTypeDocTypes/' + id;

			fetch(url)
				.then(
					function (response) {
						if (response.status !== 200) {
							console.warn('Looks like there was a problem. Status Code: ' +
								response.status);
							return;
						}

						// Examine the text in the response  
						response.json().then(function (data) {
							let option;

							for (let i = 0; i < data.length; i++) {
								option = document.createElement('option');
								option.text = data[i].casetypedocumenttypename;
								option.value = data[i].casetypedocumenttypename;
								dropdown.add(option);
							}
						});
					}
				)
				.catch(function (err) {
					console.error('Fetch Error -', err);
				});
		}
	</script>

	<script>
		function showCaseFileInfo(myfile) {

			let htmlstring = '<div class="row m-0"><div class="text-end col-4 mb-2"><b>Id: </b></div> <div class="text-start col-8">' + myfile.id + '</div></div>' +
				'<div class="row m-0"><div class="text-end col-4 mb-2"><b>Doc Type: </b></div> <div class="text-start col-8">' + myfile.documenttype + '</div></div>' +
				'<div class="row m-0"><div class="text-end col-4 mb-2"><b>File Size: </b></div> <div class="text-start col-8">' + myfile.fileSize + '</div></div>' +
				'<div class="row m-0"><div class="text-end col-4 mb-2"><b>Creator: </b></div> <div class="text-start col-8">' + myfile.createdBy + '</div></div>' +
				'<div class="row m-0"><div class="text-end col-4 mb-2"><b>created Date: </b></div> <div class="text-start col-8">' + myfile.createdDate + '</div></div>' +
				'<div class="row m-0"><div class="text-end col-4 mb-2"><b>Modifier: </b></div> <div class="text-start col-8">' + myfile.lastModifiedBy + '</div></div>' +
				'<div class="row m-0"><div class="text-end col-4 mb-2"><b>Modified Date: </b></div> <div class="text-start col-8">' + myfile.lastModifiedDate + '</div></div>' +
				'<div class="row m-0"><div class="text-end col-4 mb-2"><b>MimeType: </b></div> <div class="text-start col-8">' + myfile.fileType + '</div></div>' +
				'</br>Auto closing in <b><timer></timer></b> milliseconds.';

			let timerInterval;

			Swal.fire({
				title: myfile.fileName,
				icon: 'info',
				html: htmlstring,
				showCloseButton: true,
				showConfirmButton: false,
				showCancelButton: true,
				cancelButtonText: 'Close',
				cancelButtonColor: '#28a745',
				//allowOutsideClick: false,
				timer: 10000,
				timerProgressBar: true,

				didOpen: () => {
					//Swal.showLoading()
					const b = Swal.getHtmlContainer().querySelector('timer')
					timerInterval = setInterval(() => {
						b.textContent = Swal.getTimerLeft()
					}, 100)
				},
				willClose: () => {
					clearInterval(timerInterval)
				}
			})
		}
	</script>

</body>

</html>