<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body class=" ">
	<!-- body class= layout-fluid layout-boxed OR blank""-->
	<div class="page">
		<!-- Navbar -->
		<div th:replace="~{fragments/navbar :: navbar}"></div>
		<div class="page-wrapper">
			<!-- Page header -->
			<div class="page-header d-print-none">
				<div class="container-xl">
					<div class="row g-2 align-items-center">
						<div class="col">
							<!-- Page pre-title -->
							<div class="page-pretitle">
								Publish Documents
							</div>
							<h2 class="page-title">
								Workflow
							</h2>
						</div>
						<!-- Page title actions -->
						<div class="col-auto ms-auto d-print-none">
							<div class="btn-list">
								<span th:if="${!allfiles.empty}" class="d-none d-sm-inline">
									<a href="#" class="btn" th:onClick="deleteallWFfiles()">
										<i class="fa-solid fa-trash-can text-danger me-1"> </i>DeleteAll
									</a>
								</span>
								<!--							 data-bs-toggle="modal" data-bs-target="#modal-report"-->
								<a href="#" class="btn btn-teal d-none d-sm-inline-block"
									th:onClick="uploadMultipleInDocFlowUsingSwal()">
									<i class="fa-solid fa-plus fa-xl"></i>
									Upload
								</a>
								<a href="#" class="btn btn-teal d-sm-none btn-icon"
									th:onClick="uploadMultipleInDocFlowUsingSwal()">
									<i class="fa-solid fa-plus fa-xl"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Page body -->
			<div class="page-body">
				<div class="container-xl">
					<div class="col-12">
						<div class="card">
							<!--<div class="card-header">
								<h3 class="card-title">Documents - DRAFT</h3>
							</div>-->

							<div class="card-body border-bottom py-3">
								<form th:action="@{/documentsworkflow}" id="searchForm">
									<div class="container">
										<div class="row d-flex justify-content-between">
											<div class="col-sm-6 col-lg-3 mt-2 mb-2 mx-2">
												<select class="form-select h-100 w-100" form="searchForm" name="size"
													th:value="${pageSize}" onchange="changePageSize()" id="pageSize">
													<option class="text-center" value="" disabled selected>-- PageSize
														(Items per
														Page) --</option>
													<option class="text-center" th:each="s : ${ {10, 20, 50, 100} }"
														th:value="${s}" th:text="${s}"></option>
												</select>
											</div>
											<div class="col-sm-6 col-lg-3 mt-2 mb-2 mx-2">
												<select class="form-select h-100 w-100" form="searchForm"
													name="flowStatus" th:value="${flowStatus}"
													onchange="filterByStatus()" id="flowStatus">
													<option class="text-center" value="" disabled selected>-- Filter by
														Workflow
														Status --</option>
													<option class="text-center"
														th:each="fs : ${T(com.contentplusplus.springboot.model.AppWorkFlowDocumentStatus).values()}"
														th:value="${fs}" th:text="${fs}"
														th:selected="${fs == flowStatus}">
													</option>
												</select>
											</div>
											<div class="col-sm-6 col-lg-3 mt-2 mb-2 mx-2">
												<div class="input-group">
													<input type="text" class="form-control" id="keyword" name="keyword"
														placeholder="Search Filename..."
														aria-label="Recipient's username with two button addons"
														th:value="${keyword}">
													<button class="btn btn-primary" type="submit">Search</button>
													<button class="btn app-btn-secondary" id="btnClear"
														th:onClick="clearInputKeyword()" type="button">Clear</button>
												</div>
											</div>
										</div>
									</div>
								</form>

							</div>


							<div class="col-auto ms-auto d-print-none">
								<a title="All" href="/documentsworkflowall" th:href="@{/documentsworkflowall}"
									class="btn btn-teal d-none d-sm-inline-block">
									<i class="fa-solid fa-list-ul text-white"></i>
									All
								</a>
								<a title="All" href="/documentsworkflowall" th:href="@{/documentsworkflowall}"
									class="btn btn-teal d-sm-none btn-icon">
									<i class="fa-solid fa-list-ul text-white"></i>
								</a>

								<a title="DRAFT" href="/documentsworkflow?flowStatus=DRAFT&page=1&size=10&sort=id,asc"
									th:href="@{/documentsworkflow?flowStatus=DRAFT&page=1&size=10&sort=id,asc}"
									class="btn btn-teal d-none d-sm-inline-block">
									<i class="fa-regular fa-file-lines text-white"></i>
									DRAFT
								</a>
								<a title="DRAFT" href="/documentsworkflow?flowStatus=DRAFT&page=1&size=10&sort=id,asc"
									th:href="@{/documentsworkflow?flowStatus=DRAFT&page=1&size=10&sort=id,asc}"
									class="btn btn-teal d-sm-none btn-icon">
									<i class="fa-regular fa-file-lines text-white"></i>
								</a>

								<a title="REVIEW" href="/documentsworkflow?flowStatus=REVIEW&page=1&size=10&sort=id,asc"
									th:href="@{/documentsworkflow?flowStatus=REVIEW&page=1&size=10&sort=id,asc}"
									class="btn btn-teal d-none d-sm-inline-block">
									<i class="fa-solid fa-magnifying-glass text-white"></i>
									REVIEW
								</a>
								<a title="REVIEW" href="/documentsworkflow?flowStatus=REVIEW&page=1&size=10&sort=id,asc"
									th:href="@{/documentsworkflow?flowStatus=REVIEW&page=1&size=10&sort=id,asc}"
									class="btn btn-teal d-sm-none btn-icon">
									<i class="fa-solid fa-magnifying-glass text-white"></i>
								</a>

								<a title="APPROVED"
									href="/documentsworkflow?flowStatus=APPROVED&page=1&size=10&sort=id,asc"
									th:href="@{/documentsworkflow?flowStatus=APPROVED&page=1&size=10&sort=id,asc}"
									class="btn btn-teal d-none d-sm-inline-block">
									<i class="fa-solid fa-check text-white"></i>
									APPROVED
								</a>
								<a title="APPROVED"
									href="/documentsworkflow?flowStatus=APPROVED&page=1&size=10&sort=id,asc"
									th:href="@{/documentsworkflow?flowStatus=APPROVED&page=1&size=10&sort=id,asc}"
									class="btn btn-teal d-sm-none btn-icon">
									<i class="fa-solid fa-check text-white"></i>
								</a>

								<a title="FINALIZED"
									href="/documentsworkflow?flowStatus=FINALIZED&page=1&size=10&sort=id,asc"
									th:href="@{/documentsworkflow?flowStatus=FINALIZED&page=1&size=10&sort=id,asc}"
									class="btn btn-teal d-none d-sm-inline-block">
									<i class="fa-solid fa-check-double text-white"></i>
									FINALIZED
								</a>
								<a title="FINALIZED"
									href="/documentsworkflow?flowStatus=FINALIZED&page=1&size=10&sort=id,asc"
									th:href="@{/documentsworkflow?flowStatus=FINALIZED&page=1&size=10&sort=id,asc}"
									class="btn btn-teal d-sm-none btn-icon">
									<i class="fa-solid fa-check-double text-white"></i>
								</a>

								<a title="PUBLISHED"
									href="/documentsworkflow?flowStatus=PUBLISHED&page=1&size=10&sort=id,asc"
									th:href="@{/documentsworkflow?flowStatus=PUBLISHED&page=1&size=10&sort=id,asc}"
									class="btn btn-teal d-none d-sm-inline-block">
									<i class="fa-solid fa-file-circle-check text-white"></i>
									PUBLISHED
								</a>
								<a title="PUBLISHED"
									href="/documentsworkflow?flowStatus=PUBLISHED&page=1&size=10&sort=id,asc"
									th:href="@{/documentsworkflow?flowStatus=PUBLISHED&page=1&size=10&sort=id,asc}"
									class="btn btn-teal d-sm-none btn-icon">
									<i class="fa-solid fa-file-circle-check text-white"></i>
								</a>

							</div>



							<div class="table-responsive">
								<table class="table card-table table-vcenter text-nowrap datatable">
									<thead>
										<tr>
											<th th:replace="~{fragments/sorting :: sorting('id','Id')}"></th>
											<th th:replace="~{fragments/sorting :: sorting('fileName','fileName')}">
											</th>
											<th th:replace="~{fragments/sorting :: sorting('fileType','fileType')}">
											</th>
											<th>Size</th>
											<th
												th:replace="~{fragments/sorting :: sorting('workflowstatus','workflowstatus')}">
											</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>

										<tr th:each="myfile,rowStat : ${allfiles}" th:if="${!allfiles.empty}">
											<td class="cell" th:text="${myfile.id}"></td>
											<td class="cell"> <span class="truncate"
													th:text="${myfile.fileName}">None</span></td>
											<td th:switch="${myfile.fileType}">
												<span th:case="'application/x-msdownload'"><i
														class="fa-brands fa-windows text-primary fa-xl"></i></span>
												<span th:case="'application/pdf'"><i
														class="fas fa-file-pdf text-danger fa-2xl"></i></span>
												<span th:case="'application/msword'"><i
														class="fa-solid fa-file-word text-primary fa-2xl"></i></span>
												<span
													th:case="'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"><i
														class="fa-solid fa-file-word text-primary fa-2xl"></i></span>
												<span th:case="'multipart/related'"><i
														class="fa-regular fa-file-code text-secondary fa-2xl"></i></span>
												<span th:case="'application/vnd.oasis.opendocument.text'"><i
														class="fa-solid fa-file-word text-primary fa-2xl"></i></span>
												<span th:case="'text/plain'"><i
														class="fa-regular fa-file-lines text-secondary fa-2xl"></i></span>
												<span th:case="'text/xml'"><i
														class="fa-solid fa-file-code text-secondary fa-2xl"></i></span>
												<span th:case="'image/png'"><i
														class="fa-solid fa-file-image text-info fa-2xl"></i></span>
												<span th:case="'image/jpeg'"><i
														class="fa-solid fa-file-image text-info fa-2xl"></i></span>
												<span th:case="'image/tiff'"><i
														class="fa-solid fa-file-image text-info fa-2xl"></i></span>
												<span th:case="'image/bmp'"><i
														class="fa-solid fa-file-image text-info fa-2xl"></i></span>
												<span th:case="'image/gif'"><i
														class="fa-solid fa-file-image text-info fa-2xl"></i></span>
												<span th:case="'video/x-ms-wmv'"><i
														class="fa-solid fa-play text-muted fa-2xl"></i></span>
												<span th:case="'audio/mpeg'"><i
														class="fa-solid fa-music text-muted fa-xl"></i></span>
												<span th:case="'video/mp4'"><i
														class="fa-solid fa-play text-lite fa-2xl"></i></span>
												<span
													th:case="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"><i
														class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
												<span th:case="'application/vnd.ms-excel'"><i
														class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
												<span th:case="'application/vnd.oasis.opendocument.spreadsheet'"><i
														class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
												<span
													th:case="'application/vnd.openxmlformats-officedocument.presentationml.slideshow'"><i
														class="fa-solid fa-file-powerpoint text-warning fa-2xl"></i></span>
												<span th:case="'application/vnd.ms-powerpoint'"><i
														class="fa-solid fa-file-powerpoint text-warning fa-2xl"></i></span>
												<span
													th:case="'application/vnd.openxmlformats-officedocument.presentationml.presentation'"><i
														class="fa-solid fa-file-powerpoint text-warning fa-2xl"></i></span>
												<span th:case="'text/html'"><i
														class="fa-solid fa-file-code text-secondary fa-2xl"></i></span>
												<span th:case="'application/octet-stream'"><i
														class="fa-regular fa-file text-primary fa-2xl"></i></span>
												<span th:case="'text/csv'"><i
														class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
												<span th:case="'*'"><i
														class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
											</td>

											<td th:switch="${myfile.fileSize gt 1024}">
												<span th:case="true" th:text="${myfile.fileSize / 1024 + ' kb'}"></span>
												<span th:case="false" th:text="${myfile.fileSize + ' bytes'}"></span>
											</td>

											<td class="cell" th:text="${myfile.workflowstatus}"></td>

											<td><a class="dropdown text-primary" href="#" role="button"
													data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa-solid fa-circle-question fa-xl text-primary"></i>
													<!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
													<ul class="dropdown-menu">
														<li><a class="dropdown-item" href="#"
																th:if="${myfile.workflowstatus.toString() != 'PUBLISHED'}"
																th:onclick="nextStepDocWorkflow([[${myfile.id}]], this);"
																title="Forward"><i
																	class="fa-solid fa-circle-arrow-right text-success fa-xl mx-2"></i>
																Forward</a></li>
														<li><a class="dropdown-item" href="#"
																th:href="@{/viewWFFile/{id}(id=${myfile.id})}"
																target="_blank" title="View in browser's new tab"><i
																	class="fa-solid fa-eye text-purple fa-xl mx-2"></i>
																View File</a></li>
														<li><a class="dropdown-item" href="#"
																th:onclick="showWFFileInfo([[${myfile}]]);"
																title="Details"><i
																	class="fa-solid fa-circle-info text-info fa-xl mx-2"></i>
																Details</a></li>
														<li><a class="dropdown-item" href="#"
																th:if="${myfile.workflowstatus.toString() == 'DRAFT'}"
																th:onclick="updateWFDocumentContent([[${myfile.id}]])"
																title="Upload new content"><i
																	class="fa-solid fa-upload text-warning fa-xl mx-2"></i>
																Upload New Content</a></li>
														<li><a class="dropdown-item" href="#"
																th:href="@{/downloadWFFile/{id}(id=${myfile.id})}"
																title="Download this file"><i
																	class="fa-solid fa-download text-success fa-xl mx-2"></i>Download
																Content</a></li>

														<li><a class="dropdown-item" href="#"
																th:if="${myfile.workflowstatus.toString() == 'DRAFT'}"
																th:onclick="deleteWFfile([[${myfile.id}]], this);"
																title="Delete this file"><i
																	class="fa-regular fa-trash-can text-danger fa-xl mx-2"></i>Delete</a>
														</li>
														<li><a class="dropdown-item" href="#"
																th:unless="${myfile.workflowstatus.toString() == 'DRAFT' OR myfile.workflowstatus.toString() == 'PUBLISHED'}"
																th:onclick="previousStepDocWorkflow([[${myfile.id}]], this);"
																title="Reject"><i
																	class="fa-solid fa-circle-arrow-left text-danger fa-xl mx-2">
																</i>Reject</a></li>
													</ul>
												</a>


											</td>
										</tr>
									</tbody>
								</table>

							</div>

							<div class="app-card-body p-4" th:if="${allfiles.empty}">
								<div>
									<span>No documents found!</span>
								</div>
							</div>

							<nav aria-label="Pagination" th:if="${totalPages > 0}">
								<ul class="pagination justify-content-center">
									<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
										<a th:replace="~{fragments/paging :: paging(1, '< First ', 'First Page')}"></a>
									</li>
									<li class="page-item font-weight-bold"
										th:classappend="${currentPage == 1} ? 'disabled'">
										<a
											th:replace="~{fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
									</li>
									<li class="page-item disabled" th:if="${currentPage - 2 > 1}"><i
											class="fa-solid fa-ellipsis fa-xl text-primary mt-1 mx-2"></i>
									</li>
									<li class="page-item" th:classappend="${page == currentPage} ? 'active'"
										th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
										<a
											th:replace="~{fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
									</li>
									<li class="page-item disabled" th:if="${currentPage + 2 < totalPages}"><i
											class="fa-solid fa-ellipsis fa-xl text-primary mt-1 mx-2"></i>
									</li>
									<li class="page-item font-weight-bold"
										th:classappend="${currentPage == totalPages} ? 'disabled'">
										<a
											th:replace="~{fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')}"></a>
									</li>
									<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
										<a
											th:replace="~{fragments/paging :: paging(${totalPages}, ' Last >', 'Last Page')}"></a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>

		</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/font-awesome/js/all.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/sweetalert2/dist/sweetalert2.all.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/app.js}"></script>
	<script type="text/javascript" th:src="@{/js/wfdocs.js}"></script>


	<script>
		function clearInputKeyword() {
			document.getElementById("keyword").value = "";
			window.location = "[[@{/documentsworkflow}]]";
			//location.reload();
		}
	</script>

	<script>
		function changePageSize() {
			let form = document.getElementById("searchForm");
			form.submit();
		}
	</script>


</body>

</html>