<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body class=" ">
	<!-- body class= layout-fluid layout-boxed OR blank""-->
	<div class="page">
		<!-- Navbar -->
		<div th:replace="~{fragments/navbar :: navbar}"></div>
		<div class="page-wrapper">
			<!-- Page header -->
			<div class="page-header d-print-none">
				<div class="container-xl">
					<div class="row g-2 align-items-center">
						<div class="col">
							<!-- Page pre-title -->
							<div class="page-pretitle">
								Manage DB Files
							</div>
							<h2 class="page-title">
								DB Files
							</h2>
						</div>
						<!-- Page title actions -->
						<div class="col-auto ms-auto d-print-none">
							<div class="btn-list">
								<span th:if="${!allfiles.empty}" class="d-none d-sm-inline">
									<a href="#" class="btn" th:onClick="deleteallDBfiles()">
										<i class="fa-solid fa-trash-can text-danger me-1"> </i>DeleteAll
									</a>
								</span>
								<!--							 data-bs-toggle="modal" data-bs-target="#modal-report"-->
								<a href="#" class="btn btn-teal d-none d-sm-inline-block"
									th:onClick="uploadMultipleInDbUsingSwal()">
									<i class="fa-solid fa-plus fa-xl"></i>
									Upload
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Page body -->
			<div class="page-body">
				<div class="container-xl">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Manage DB Files</h3>
							</div>
							<div class="card-body border-bottom py-3">
								<div class="d-flex">
									<!--div class="text-muted">
										Show
										<div class="mx-2 d-inline-block">
											<input type="text" class="form-control form-control-sm" value="8" size="3"
												aria-label="Invoices count">
										</div>
										entries
									</!div-->
									<div class="ms-auto text-muted"> 
										Search:
										<div class="ms-2 d-inline-block">
											<input type="text" class="form-control form-control-sm"
												aria-label="Search invoice">
										</div>
									</div>
								</div>
							</div>


							<div class="app-card-body p-4" th:if="${#lists.isEmpty(allfiles)}">
								<div>
									No Documents have been added yet to this repository. Click "Choose Files" button
									above and select files using your file browser and click "Upload" button.
								</div>
							</div>


							<div class="table-responsive">
								<table class="table card-table table-vcenter text-nowrap datatable"
									th:if="${!allfiles.empty}">
									<thead>
										<tr>
											<th>#</th>
											<th>Id</th>
											<th>FileName</th>
											<th>Type</th>
											<th>Size</th>
											<th class="table-col-hidden">CreatedBy</th>
											<th class="table-col-hidden">DateCreated</th>
											<th class="table-col-hidden">ModifiedBy</th>
											<th class="table-col-hidden">LastModified</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>

										<tr th:each="myfile,rowStat : ${allfiles}">
											<td class="cell" th:text="${rowStat.count}">1</td>
											<td class="cell" th:text="${myfile.id}"></td>
											<td class="cell"> <span class="truncate"
													th:text="${myfile.fileName}">None</span></td>
											<td th:switch="${myfile.fileType}">
												<span th:case="'application/x-msdownload'"><i
														class="fa-brands fa-windows text-primary fa-xl"></i></span>
												<span th:case="'application/pdf'"><i
														class="fas fa-file-pdf text-danger fa-2xl"></i></span>
												<span th:case="'application/msword'"><i
														class="fa-solid fa-file-word text-primary fa-2xl"></i></span>
												<span
													th:case="'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"><i
														class="fa-solid fa-file-word text-primary fa-2xl"></i></span>
												<span th:case="'multipart/related'"><i
														class="fa-regular fa-file-code text-secondary fa-2xl"></i></span>
												<span th:case="'application/vnd.oasis.opendocument.text'"><i
														class="fa-solid fa-file-word text-primary fa-2xl"></i></span>
												<span th:case="'text/plain'"><i
														class="fa-regular fa-file-lines text-secondary fa-2xl"></i></span>
												<span th:case="'text/xml'"><i
														class="fa-solid fa-file-code text-secondary fa-2xl"></i></span>
												<span th:case="'image/png'"><i
														class="fa-solid fa-file-image text-info fa-2xl"></i></span>
												<span th:case="'image/jpeg'"><i
														class="fa-solid fa-file-image text-info fa-2xl"></i></span>
												<span th:case="'image/tiff'"><i
														class="fa-solid fa-file-image text-info fa-2xl"></i></span>
												<span th:case="'image/bmp'"><i
														class="fa-solid fa-file-image text-info fa-2xl"></i></span>
												<span th:case="'image/gif'"><i
														class="fa-solid fa-file-image text-info fa-2xl"></i></span>
												<span th:case="'video/x-ms-wmv'"><i
														class="fa-solid fa-play text-muted fa-2xl"></i></span>
												<span th:case="'audio/mpeg'"><i
														class="fa-solid fa-music text-muted fa-xl"></i></span>
												<span th:case="'video/mp4'"><i
														class="fa-solid fa-play text-lite fa-2xl"></i></span>
												<span
													th:case="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"><i
														class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
												<span th:case="'application/vnd.ms-excel'"><i
														class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
												<span th:case="'application/vnd.oasis.opendocument.spreadsheet'"><i
														class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
												<span
													th:case="'application/vnd.openxmlformats-officedocument.presentationml.slideshow'"><i
														class="fa-solid fa-file-powerpoint text-warning fa-2xl"></i></span>
												<span th:case="'application/vnd.ms-powerpoint'"><i
														class="fa-solid fa-file-powerpoint text-warning fa-2xl"></i></span>
												<span
													th:case="'application/vnd.openxmlformats-officedocument.presentationml.presentation'"><i
														class="fa-solid fa-file-powerpoint text-warning fa-2xl"></i></span>
												<span th:case="'text/html'"><i
														class="fa-solid fa-file-code text-secondary fa-2xl"></i></span>
												<span th:case="'application/octet-stream'"><i
														class="fa-regular fa-file text-primary fa-2xl"></i></span>
												<span th:case="'text/csv'"><i
														class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
												<span th:case="'*'"><i
														class="fa-solid fa-file-excel text-success fa-2xl"></i></span>
											</td>

											<td th:switch="${myfile.fileSize gt 1024}">
												<span th:case="true" th:text="${myfile.fileSize / 1024 + ' kb'}"></span>
												<span th:case="false" th:text="${myfile.fileSize + ' bytes'}"></span>
											</td>
											<td class="cell table-col-hidden"><span class="note"
													th:text="${myfile.createdBy}">None</span></td>
											<td class="cell table-col-hidden"><span class="note"
													th:text="${myfile.createdDate}">None</span></td>
											<td class="cell table-col-hidden"><span class="note"
													th:text="${myfile.lastModifiedBy}">None</span></td>
											<td class="cell table-col-hidden"><span class="note"
													th:text="${myfile.lastModifiedDate}">None</span></td>
											<td><a class="btn btn-sm app-btn-secondary mx-1"
													th:href="@{/viewFile/{id}(id=${myfile.id})}" target="_blank"
													title="View in browser's new tab"><i
														class="fa-solid fa-eye text-primary"></i></a><a
													class="btn btn-sm app-btn-secondary mx-1"
													th:onclick="showDBFileInfo([[${myfile}]]);" title="Details"><i
														class="fa-solid fa-info text-info"></i></a><a
													class="btn btn-sm app-btn-secondary mx-1"
													th:href="@{/downloadFile/{id}(id=${myfile.id})}"
													title="Download this file"><i
														class="fa-solid fa-download text-success"></i></a><a
													class="btn btn-sm app-btn-secondary mx-1"
													th:onclick="deletedbfile([[${myfile.id}]], this);"
													title="Delete this file"><i class="fa-solid fa-x text-danger"></i>
												</a></td>
										</tr>
									</tbody>
									<thead>
										<tr>
											<th>#</th>
											<th>Id</th>
											<th>FileName</th>
											<th>Type</th>
											<th>Size</th>
											<th class="table-col-hidden">CreatedBy</th>
											<th class="table-col-hidden">DateCreated</th>
											<th class="table-col-hidden">ModifiedBy</th>
											<th class="table-col-hidden">LastModified</th>
											<th>Actions</th>
										</tr>
									</thead>
								</table>

							</div>
							<!--div class="card-footer d-flex align-items-center">
								<p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of
									<span>16</span> entries
								</p>
								<ul class="pagination m-0 ms-auto">
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1" aria-disabled="true">
											<i class="fa-solid fa-chevron-left icon"></i>
											prev
										</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">4</a></li>
									<li class="page-item"><a class="page-link" href="#">5</a></li>
									<li class="page-item">
										<a class="page-link" href="#">
											next
											<i class="fa-solid fa-chevron-right icon"></i>
										</a>
									</li>
								</ul>
							</div-->
						</div>
					</div>
				</div>
			</div>

			<div class="modal modal-blur fade" id="modal-reportx" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">New User</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="mb-3">
								<label class="form-label">Name</label>
								<input type="text" class="form-control" name="example-text-input"
									placeholder="Email-id">
							</div>
							<label class="form-label">User type</label>
							<div class="form-selectgroup-boxes row mb-3">
								<div class="col-lg-6">
									<label class="form-selectgroup-item">
										<input type="radio" name="report-type" value="1" class="form-selectgroup-input"
											checked>
										<span class="form-selectgroup-label d-flex align-items-center p-3">
											<span class="me-3">
												<span class="form-selectgroup-check"></span>
											</span>
											<span class="form-selectgroup-label-content">
												<span class="form-selectgroup-title strong mb-1">Activated</span>
												<span class="d-block text-muted">Set user as Active</span>
											</span>
										</span>
									</label>
								</div>
								<div class="col-lg-6">
									<label class="form-selectgroup-item">
										<input type="radio" name="report-type" value="1" class="form-selectgroup-input">
										<span class="form-selectgroup-label d-flex align-items-center p-3">
											<span class="me-3">
												<span class="form-selectgroup-check"></span>
											</span>
											<span class="form-selectgroup-label-content">
												<span class="form-selectgroup-title strong mb-1">DeActivated</span>
												<span class="d-block text-muted">Set user as DeActivated</span>
											</span>
										</span>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-8">
									<div class="mb-3">
										<label class="form-label">Report url</label>
										<div class="input-group input-group-flat">
											<span class="input-group-text">
												https://github.com/ajkr195/ContentPlusPlus
											</span>
											<!--<input type="text" class="form-control ps-0" value="report-01" autocomplete="off">-->
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="mb-3">
										<label class="form-label">Roles</label>
										<select class="form-select">
											<option value="1" selected>Private</option>
											<option value="2">Public</option>
											<option value="3">Hidden</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-6">
									<div class="mb-3">
										<label class="form-label">Department</label>
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="mb-3">
										<label class="form-label">Reporting period</label>
										<input type="date" class="form-control">
									</div>
								</div>
								<div class="col-lg-12">
									<div>
										<label class="form-label">Additional information</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
								Cancel
							</a>
							<a href="#" class="btn btn-teal ms-auto" data-bs-dismiss="modal">
								<i class="fa-solid fa-plus fa-lg me-2"></i>
								Submit
							</a>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>

		</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/font-awesome/js/all.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
	<script th:src="@{/webjars/sweetalert2/dist/sweetalert2.all.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/app.js}"></script>
	<script type="text/javascript" th:src="@{/js/fileupload.js}"></script>

</body>

</html>