<!DOCTYPE html>
<html data-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body class="app app-404-page">

	<div class="container mb-5">
		<div class="row">
			<div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
				<div class="app-branding text-center mb-5">
					<a class="app-logo" href="/" th:href="@{/}"><img class="logo-icon me-2" th:src="@{/img/profile-1.png}"></a>
					<br /><br />
					<div class="logo-text" th:text="${appname}">AppName</div>

				</div>
				</br>
				<div class="app-card p-5 text-center shadow-sm mt-5">
					<h1 class="page-title mb-4">Error<br><span class="font-weight-light">Occurred</span></h1>
					<div class="mb-4">
						Try refreshing the page.
					</div>
					<a class="btn app-btn-primary" href="/" th:href="@{/}">Go to home page</a>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="~{fragments/footer :: footer}"></div>



</body>

</html>