<!DOCTYPE html>
<html data-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body class="app app-login p-0">
	<div class="row g-0 app-auth-wrapper">
		<div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
			<div class="d-flex flex-column align-content-end">
				<div class="app-auth-body mx-auto">
					<div class="app-auth-branding mb-4"><a class="app-logo" href="/" th:href="@{/}"><img
								class="logo-icon me-2" th:src="@{/img/brandlogo.png}"></a></div>
					<h2 class="auth-heading text-center mb-5" th:text="${appname}">AppName</h2>
					<div class="auth-form-container text-start">
						<div th:if="${param.error}">
							<div class="alert alert-danger">Invalid Email and Password.</div>
						</div>
						<div th:if="${param.logout}">
							<div class="alert alert-success">You have been logged out.</div>
						</div>
						<form class="auth-form login-form" method="post" th:action="@{/login}" role="form">
							<div class="email mb-3">
								<label class="sr-only" for="useremail">Email</label>
								<input type="text" id="username" name="username" class="form-control signin-email"
									placeholder="Email address" required="required" />
							</div>
							<div class="password mb-3">
								<label class="sr-only" for="password">Password</label>
								<input id="password" name="password" type="password"
									class="form-control signin-password" placeholder="Password" required="required" />
								<div class="extra mt-3 row justify-content-between">
									<div class="col-6">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value=""
												id="RememberPassword">
											<label class="form-check-label" for="RememberPassword">
												Remember me
											</label>
										</div>
									</div>
									<div class="col-6">
										<div class="forgot-password text-end">
											<a href="/resetpassword" th:href="@{/resetpassword}">Forgot password?</a>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center">
								<button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">Log
									In</button>
							</div>
						</form>

						<div class="auth-option text-center pt-5">No Account? Sign up <a class="text-link"
								href="/signup" th:href="@{/signup}">here</a>.</div>
					</div>

				</div>

				<div th:replace="~{fragments/footer :: footer}"></div>
			</div>
		</div>
		<div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
			<div class="auth-background-holder">
				<!--<img th:src="@{/img/auth.jpg}" alt="">-->
			</div>
			<div class="auth-background-mask"></div>
			<div class="auth-background-overlay p-3 p-lg-5">
				<div class="d-flex flex-column align-content-end h-100">
					<div class="h-100"></div>
					<div class="overlay-content p-3 p-lg-4 rounded">
						<h5 class="mb-3 overlay-title">Content++</h5>
						<div>A free and Open Source Content Management System (CMS). Great base for building
							any On-Prem or Cloud based CMS. <a
								href="https://github.com/ajkr195/?tab=repositories">Download and try now !</a>.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


</body>

</html>