<!DOCTYPE html>
<html data-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body class="app">

	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-fluid">
				<div class="position-relative mb-3">
					<div class="row g-3 justify-content-between">
						<div class="col-auto">
							<h1 class="app-page-title mb-0">Notifications</h1>
						</div>
						<div class="col-auto">
							<div class="page-utilities">
								<select class="form-select form-select-sm w-auto">
									<option selected value="option-1">All</option>
									<option value="option-2">News</option>
									<option value="option-3">Product</option>
									<option value="option-4">Project</option>
									<option value="option-4">Billing</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="app-card app-card-notification shadow-sm mb-4">
					<div class="app-card-header px-4 py-3">
						<div class="row g-3 align-items-center">
							<div class="col-12 col-lg-auto text-center text-lg-start">
								<img class="profile-image" th:src="@{/img/brandlogo3.png}" alt="">
							</div>
							<div class="col-12 col-lg-auto text-center text-lg-start">
								<div class="notification-type mb-2"><span class="badge bg-info">Project</span></div>
								<h4 class="notification-title mb-1">Notification Heading Lorem Ipsum</h4>

								<ul class="notification-meta list-inline mb-0">
									<li class="list-inline-item">2 hrs ago</li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">Amy Doe</li>
								</ul>

							</div>
						</div>
					</div>
					<div class="app-card-body p-4">
						<div class="notification-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
							sed ultrices dolor, ac maximus ligula. Donec ex orci, mollis ac purus vel, tempor pulvinar
							justo. Praesent nibh massa, posuere non mollis vel, molestie non mauris. Aenean consequat
							facilisis orci, sed sagittis mauris interdum at.</div>
					</div>
					<div class="app-card-footer px-4 py-3">
						<a class="action-link" href="/notifications" th:href="@{/notifications}">View all<i
								class="fa-solid fa-arrow-right mx-2"></i></a>
					</div>
				</div>

				<div class="app-card app-card-notification shadow-sm mb-4">
					<div class="app-card-header px-4 py-3">
						<div class="row g-3 align-items-center">
							<div class="col-12 col-lg-auto text-center text-lg-start">
								<img class="profile-image" th:src="@{/img/brandlogo2.png}" alt="">
							</div>
							<div class="col-12 col-lg-auto text-center text-lg-start">
								<div class="notification-type mb-2"><span class="badge bg-info">Project</span></div>
								<h4 class="notification-title mb-1">Notification Heading Lorem Ipsum</h4>

								<ul class="notification-meta list-inline mb-0">
									<li class="list-inline-item">2 hrs ago</li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">Amy Doe</li>
								</ul>

							</div>
						</div>
					</div>
					<div class="app-card-body p-4">
						<div class="notification-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
							sed ultrices dolor, ac maximus ligula. Donec ex orci, mollis ac purus vel, tempor pulvinar
							justo. Praesent nibh massa, posuere non mollis vel, molestie non mauris. Aenean consequat
							facilisis orci, sed sagittis mauris interdum at.</div>
					</div>
					<div class="app-card-footer px-4 py-3">
						<a class="action-link" href="/notifications" th:href="@{/notifications}">View all<i
								class="fa-solid fa-arrow-right mx-2"></i></a>
					</div>
				</div>

				<div class="app-card app-card-notification shadow-sm mb-4">
					<div class="app-card-header px-4 py-3">
						<div class="row g-3 align-items-center">
							<div class="col-12 col-lg-auto text-center text-lg-start">
								<div class="app-icon-holder icon-holder-mono">
									<img class="profile-image" th:src="@{/img/brandlogo.png}" alt="">
								</div>
							</div>
							<div class="col-12 col-lg-auto text-center text-lg-start">
								<div class="notification-type mb-2"><span class="badge bg-info">Project</span></div>
								<h4 class="notification-title mb-1">Notification Heading Lorem Ipsum</h4>

								<ul class="notification-meta list-inline mb-0">
									<li class="list-inline-item">3 days ago</li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">System</li>
								</ul>

							</div>
						</div>
					</div>
					<div class="app-card-body p-4">
						<div class="notification-content">Proin a magna sit amet mauris mollis mattis in at dui.
							Fusce
							laoreet metus et nunc lobortis, suscipit sollicitudin augue pellentesque. Maecenas
							maximus
							iaculis scelerisque.</div>
					</div>
					<div class="app-card-footer px-4 py-3">
						<a class="action-link" href="/notifications" th:href="@{/notifications}">View invoice<i
								class="fa-solid fa-arrow-right mx-2"></i></a>
					</div>
				</div>

				<div class="app-card app-card-notification shadow-sm mb-4">
					<div class="app-card-header px-4 py-3">
						<div class="row g-3 align-items-center">
							<div class="col-12 col-lg-auto text-center text-lg-start">
								<img class="profile-image" th:src="@{/img/brandlogo2.png}" alt="">
							</div>
							<div class="col-12 col-lg-auto text-center text-lg-start">
								<div class="notification-type mb-2"><span class="badge bg-secondary">Product</span>
								</div>
								<h4 class="notification-title mb-1">Notification Heading Lorem Ipsum</h4>

								<ul class="notification-meta list-inline mb-0">
									<li class="list-inline-item">7 days ago</li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">James Smith</li>
								</ul>

							</div>
						</div>
					</div>
					<div class="app-card-body p-4">
						<div class="notification-content">Sed tempor faucibus arcu, nec tristique erat congue sed.
							Pellentesque auctor ut elit vel feugiat. Sed a mauris tempor, tempor lacus vel,
							tristique
							metus. Nulla interdum felis id metus fermentum laoreet.</div>
					</div>
					<div class="app-card-footer px-4 py-3">
						<a class="action-link" href="/notifications" th:href="@{/notifications}">View all<i
								class="fa-solid fa-arrow-right mx-2"></i></a>
					</div>
				</div>


				<div class="app-card app-card-notification shadow-sm mb-4">
					<div class="app-card-header px-4 py-3">
						<div class="row g-3 align-items-center">
							<div class="col-12 col-lg-auto text-center text-lg-start">
								<img class="profile-image" th:src="@{/img/brandlogo3.png}" alt="">
							</div>
							<div class="col-12 col-lg-auto text-center text-lg-start">
								<div class="notification-type mb-2"><span class="badge bg-success">News</span></div>
								<h4 class="notification-title mb-1">Notification Heading Lorem Ipsum</h4>

								<ul class="notification-meta list-inline mb-0">
									<li class="list-inline-item">7 days ago</li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">Kate Sanders</li>
								</ul>

							</div>
						</div>
					</div>
					<div class="app-card-body p-4">
						<div class="notification-content">Sed tempor faucibus arcu, nec tristique erat congue sed.
							Pellentesque auctor ut elit vel feugiat. Sed a mauris tempor, tempor lacus vel,
							tristique
							metus. Nulla interdum felis id metus fermentum laoreet.</div>
					</div>
					<div class="app-card-footer px-4 py-3">
						<a class="action-link" href="/notifications" th:href="@{/notifications}">Read more<i
								class="fa-solid fa-arrow-right mx-2"></i></a>
					</div>
				</div>





				<div class="text-center mt-4"><a class="btn app-btn-primary" href="/notifications"
						th:href="@{/notifications}">Load more notifications</a>
				</div>

			</div>
		</div>

		<div th:replace="~{fragments/footer :: footer}"></div>

	</div>

	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/js/all.js}"></script>

	<script th:src="@{/js/app.js}"></script>

</body>

</html>