<!DOCTYPE html>
<html data-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body class="app app-reset-password p-0">
	<div class="row g-0 app-auth-wrapper">
		<div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
			<div class="d-flex flex-column align-content-end">
				<div class="app-auth-body mx-auto">
					<div class="app-auth-branding mb-4"><a class="app-logo" href="/" th:href="@{/}"><img
								class="logo-icon me-2" th:src="@{/img/brandlogo.png}"></a></div>
					<h2 class="auth-heading text-center mb-4" th:text="${appname}">AppName</h2>
					<h4 class="text-center mb-4">Password Reset</h4>

					<div class="auth-intro mb-4 text-center">Enter your email address below. If it exists, we will email
						you a link to a
						page where you can easily create a new password.</div>

					<div class="auth-form-container text-left">

						<form class="auth-form resetpass-form">
							<div class="email mb-3">
								<label class="sr-only" for="reg-email">Your Email</label>
								<input id="reg-email" name="reg-email" type="email" class="form-control login-email"
									placeholder="Your Email" required="required">
							</div>
							<div class="text-center">
								<button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">Reset
									Password</button>
							</div>
						</form>

						<div class="auth-option text-center pt-5"><a class="app-link" href="/login"
								th:href="@{/login}">Log in</a> <span class="px-2">|</span> <a class="app-link"
								href="/signup" th:href="@{/signup}">Sign up</a></div>
					</div>


				</div>

				<div th:replace="~{fragments/footer :: footer}"></div>
			</div>
		</div>
		<div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
			<div class="auth-background-holder">
				<!--<img th:src="@{/img/auth.jpg}" alt="">-->
			</div>
			<div class="auth-background-mask"></div>
			<div class="auth-background-overlay p-3 p-lg-5">
				<div class="d-flex flex-column align-content-end h-100">
					<div class="h-100"></div>
					<div class="overlay-content p-3 p-lg-4 rounded">
						<h5 class="mb-3 overlay-title">Content++</h5>
						<div>A free and Open Source Content Management System (CMS). Great base for building
							any On-Prem or Cloud based CMS. <a
								href="https://github.com/ajkr195/?tab=repositories">Download and try now !</a>.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>

</html>