<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body class=" ">
	<!-- body class= layout-fluid layout-boxed OR blank""-->
	<div class="page">
		<!-- Navbar -->
		<div th:replace="~{fragments/navbar :: navbar}"></div>
		<div class="page-wrapper">
			<!-- Page header -->
			<div class="page-header d-print-none">
				<div class="container-xl">
					<div class="row g-2 align-items-center">
						<div class="col">
							<!-- Page pre-title -->
							<div class="page-pretitle">
								Manage
							</div>
							<h2 class="page-title">
								Settings
							</h2>
						</div>
						<!-- Page title actions -->
					</div>
				</div>
			</div>
			<!-- Page body -->
			<div class="page-body">
				<div class="container-xl">





					<div class="col-12">
						<div class="card card-md">
							<div class="card-stamp card-stamp-lg">
								<div class="card-stamp-icon bg-primary">
									<i class="fa-solid fa-cog"></i>
								</div>
							</div>
							<div class="card-body">
								<div class="app-content p-lg-4">
									<div class="container-xl">
										<h1 class="app-page-title">Settings</h1>
										<div class="row g-4 settings-section">
											<div class="col-12 col-md-4">
												<h3 class="section-title">General</h3>
												<div class="section-intro">Settings section intro goes here. Lorem ipsum
													dolor sit
													amet,
													consectetur adipiscing elit. <a href="/help">Learn more</a>
												</div>
											</div>
											<div class="col-12 col-md-8">
												<div class="shadow-sm p-4">

													<div class="app-card-body">
														<form class="settings-form">
															<div class="mb-3">
																<label for="setting-input-1" class="form-label">Business
																	Name</label>
																<input type="text" class="form-control"
																	id="setting-input-1" value="Lorem Ipsum Ltd."
																	required>
															</div>
															<div class="mb-3">
																<label for="setting-input-2" class="form-label">Contact
																	Name</label>
																<input type="text" class="form-control"
																	id="setting-input-2" value="Steve Doe" required>
															</div>
															<div class="mb-3">
																<label for="setting-input-3" class="form-label">Business
																	Email
																	Address</label>
																<input type="email" class="form-control"
																	id="setting-input-3"
																	value="hello@companywebsite.com">
															</div>
															<button type="submit" class="btn app-btn-primary">Save
																Changes</button>
														</form>
													</div>

												</div>
											</div>
										</div>
										<hr class="my-4">
										<div class="row g-4 settings-section">
											<div class="col-12 col-md-4">
												<h3 class="section-title">Active Repository</h3>
												<div class="section-intro">Settings section intro goes here. Lorem ipsum
													dolor sit
													amet,
													consectetur adipiscing elit. <a href="/help">Learn more</a>
												</div>
											</div>
											<div class="col-12 col-md-8">
												<div class="shadow-sm p-4">

													<div class="app-card-body">
														<div class="mb-2"><strong>Repository Name:</strong> Store Pro</div>
														<div class="mb-2"><strong>Status:</strong> <span
																class="badge bg-success">Active</span>
														</div>
														<div class="mb-2"><strong>License Expires:</strong> 2070-09-24</div>
														<div class="mb-4"><strong>Technotes:</strong> <a
																href="#">view</a></div>
														<div class="row justify-content-between">
															<div class="col-auto">
																<a class="btn app-btn-primary" href="#">Upgrade Now</a>
															</div>
															<div class="col-auto">
																<a class="btn app-btn-secondary" href="#">Cancel
																	Subscription</a>
															</div>
														</div>

													</div>

												</div>
											</div>
										</div>
										<hr class="my-4">
										<div class="row g-4 settings-section">
											<div class="col-12 col-md-4">
												<h3 class="section-title">Data &amp; Privacy</h3>
												<div class="section-intro">Settings section intro goes here. Morbi
													vehicula, est
													eget fermentum
													ornare. </div>
											</div>
											<div class="col-12 col-md-8">
												<div class="shadow-sm p-4">
													<div class="app-card-body">
														<form class="settings-form">
															<div class="form-check mb-3">
																<input class="form-check-input" type="checkbox" value=""
																	id="settings-checkbox-1" checked>
																<label class="form-check-label"
																	for="settings-checkbox-1">
																	Keep user app activity history
																</label>
															</div>
															<div class="form-check mb-3">
																<input class="form-check-input" type="checkbox" value=""
																	id="settings-checkbox-2" checked>
																<label class="form-check-label"
																	for="settings-checkbox-2">
																	Keep user app preferences
																</label>
															</div>
															<div class="form-check mb-3">
																<input class="form-check-input" type="checkbox" value=""
																	id="settings-checkbox-3" checked>
																<label class="form-check-label"
																	for="settings-checkbox-3">
																	Keep user app search history
																</label>
															</div>
															<div class="form-check mb-3">
																<input class="form-check-input" type="checkbox" value=""
																	id="settings-checkbox-4" checked>
																<label class="form-check-label"
																	for="settings-checkbox-4">
																	Lorem ipsum dolor sit amet
																</label>
															</div>
															<div class="form-check mb-3">
																<input class="form-check-input" type="checkbox" value=""
																	id="settings-checkbox-5" checked>
																<label class="form-check-label"
																	for="settings-checkbox-5">
																	Aenean quis pharetra metus
																</label>
															</div>
															<div class="mt-3">
																<button type="submit" class="btn app-btn-primary">Save
																	Changes</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
										<hr class="my-4">
										<div class="row g-4 settings-section">
											<div class="col-12 col-md-4">
												<h3 class="section-title">Notifications</h3>
												<div class="section-intro">Settings section intro goes here. Duis velit
													massa,
													faucibus non
													hendrerit eget.</div>
											</div>
											<div class="col-12 col-md-8">
												<div class="shadow-sm p-4">
													<div class="app-card-body">
														<form class="settings-form">
															<div class="form-check form-switch mb-3">
																<input class="form-check-input" type="checkbox"
																	id="settings-switch-1" checked>
																<label class="form-check-label"
																	for="settings-switch-1">Project
																	notifications</label>
															</div>
															<div class="form-check form-switch mb-3">
																<input class="form-check-input" type="checkbox"
																	id="settings-switch-2">
																<label class="form-check-label"
																	for="settings-switch-2">Web browser
																	push
																	notifications</label>
															</div>
															<div class="form-check form-switch mb-3">
																<input class="form-check-input" type="checkbox"
																	id="settings-switch-3" checked>
																<label class="form-check-label"
																	for="settings-switch-3">Mobile push
																	notifications</label>
															</div>
															<div class="form-check form-switch mb-3">
																<input class="form-check-input" type="checkbox"
																	id="settings-switch-4">
																<label class="form-check-label"
																	for="settings-switch-4">Lorem ipsum
																	notifications</label>
															</div>
															<div class="form-check form-switch mb-3">
																<input class="form-check-input" type="checkbox"
																	id="settings-switch-5" checked>
																<label class="form-check-label"
																	for="settings-switch-5">Lorem ipsum
																	notifications</label>
															</div>
															<div class="mt-3">
																<button type="submit" class="btn app-btn-primary">Save
																	Changes</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
										<hr class="my-4">
									</div>
								</div>
							</div>
						</div>
					</div>











				</div>
			</div>
			<div th:replace="~{fragments/footer :: footer}"></div>

		</div>
	</div>

	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/js/all.js}"></script>
	<script th:src="@{/webjars/sweetalert2/dist/sweetalert2.all.min.js}"></script>
	<script th:src="@{/js/app.js}"></script>

</body>

</html>