<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Content++</title>
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
	<link th:rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body class=" border-top-wide border-primary d-flex flex-column">

	<div class="page page-center">
		<div class="container container-tight py-4">
			<h1 class="text-center mb-2">
				<img src="img/brand.png" height="80" alt=""><br /><a href="/" th:href="@{/}" class="navbar-brand"
					th:text="${appname}"></a>
			</h1>
			<div class="card card-md">
				<div class="card-body">
					<h2 class="h2 text-center mb-4">Login to your account</h2>
					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid Email and/or Password.</div>
					</div>
					<div th:if="${param.logout}">
						<div class="alert alert-success">You have been logged out.</div>
					</div>
					<form method="post" th:action="@{/login}" role="form" autocomplete="off">
						<div class="mb-3">
							<label class="form-label">Email address</label>
							<input type="text" class="form-control" id="username" name="username"
								placeholder="Your email-id" autocomplete="off"  th:required="required">
						</div>
						<div class="mb-4">
							<label class="form-label">
								Password
								<span class="form-label-description">
									<a href="#">Forgot password?</a>
								</span>
							</label>
							<div class="input-group input-group-flat">
								<input type="password" class="form-control" placeholder="Your password" id="password"
									name="password" autocomplete="off"  th:required="required">
								<span class="input-group-text">
									<a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
										<i class="fa-regular fa-eye" onclick="showPassword()"></i>
									</a>
								</span>
							</div>
						</div>
						<div class="mb-4">
							<label class="form-check">
								<input type="checkbox" class="form-check-input border border-success" />
								<span class="form-check-label">Remember me on this device</span>
							</label>
						</div>
						<div class="form-footer">
							<button type="submit" class="btn btn-primary w-100">Sign in</button>
						</div>
					</form>
				</div>
				<div class="text-center text-muted mt-2">
					Don't have account yet? <a href="/signup" th:href="@{/signup}" tabindex="-1">Sign up</a>
				</div>
				<div class="text-center text-muted mt-2">
					Not ready yet? Explore More - <a href="/home" th:href="@{/home}" tabindex="-1">Home</a>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/font-awesome/js/all.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/login.js}" defer></script>
	<script>
		function showPassword() {
			var x = document.getElementById("password");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	</script>
</body>

</html>