<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body class=" ">
	<!-- body class= layout-fluid layout-boxed OR blank""-->
	<div class="page">
		<!-- Navbar -->
		<div th:replace="~{fragments/navbar :: navbar}"></div>
		<div class="page-wrapper">
			<!-- Page header -->
			<div class="page-header d-print-none">
				<div class="container-xl">
					<div class="row g-2 align-items-center">
						<div class="col">
							<!-- Page pre-title -->
							<div class="page-pretitle">
								Manage Users
							</div>
							<h2 class="page-title">
								Users
							</h2>
						</div>
						<!-- Page title actions -->
						<div class="col-auto ms-auto d-print-none">
							<div class="btn-list">
								<a href="#" class="btn app-btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
									data-bs-target="#modal-report">
									<i class="fa-solid fa-plus fa-xl"></i>
									Add User
								</a>
								<a href="#" class="btn app-btn-secondary d-none d-sm-inline-block"
									th:onClick="getSelectedCheckBoxes()"> Get Selected </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Page body -->
			<div class="page-body">
				<div class="container-xl">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Manage Users</h3>
							</div>
							<div class="card-body border-bottom py-3">

								<form th:action="@{/listuser}" id="searchForm">
									<div class="container">
										<div class="row d-flex justify-content-between">
											<div class="col-sm-6 col-lg-3 mt-2 mb-2 mx-2">
												<select class="form-select h-100 w-100" form="searchForm" name="size"
													th:value="${pageSize}" onchange="changePageSize()" id="pageSize">
													<option class="text-center" value="" disabled selected>-- PageSize
														(Items per
														Page) --</option>
													<option class="text-center" th:each="s : ${ {10, 20, 50, 100} }"
														th:value="${s}" th:text="${s}"></option>
												</select>
											</div>
											<div class="col-sm-6 col-lg-3 mt-2 mb-2 mx-2">
												<select class="form-select h-100 w-100" form="searchForm"
													name="userStatus" th:value="${userStatus}" id="userStatus" required>
													<option class="text-center" value="" disabled selected>-- Filter by
														Active
														Status --</option>
													<option class="text-center"
														th:each="s : ${ {'ACTIVE', 'INACTIVE'} }" th:value="${s}"
														th:text="${s}"></option>
												</select>
											</div>
											<div class="col-sm-6 col-lg-3 mt-2 mb-2 mx-2">
												<div class="input-group">
													<input type="text" class="form-control" id="keyword" name="keyword"
														placeholder="Search user by email ..."
														aria-label="Username search" th:value="${keyword}">
													<button class="btn btn-primary" type="submit">Search</button>
													<button class="btn app-btn-secondary" id="btnClear"
														th:onClick="clearInputKeyword()" type="button">Clear</button>
												</div>
											</div>
										</div>
									</div>
								</form>




								<div class="table-responsive">
									<table class="table card-table table-vcenter text-nowrap datatable">
										<thead>
											<tr>
												<th class="w-1"><input class="form-check-input border border-warning"
														type="checkbox" id="checkAllUsers"></th>
												<th th:replace="~{fragments/sorting :: sorting('id','Id')}"></th>
												<th
													th:replace="~{fragments/sorting :: sorting('userfirstname','userfirstname')}">
												</th>
												<th
													th:replace="~{fragments/sorting :: sorting('userlastname','userlastname')}">
												</th>
												<th
													th:replace="~{fragments/sorting :: sorting('useremail','useremail')}">
												</th>

												<th>Active?</th>
												<!--<th>CreatedBy</th>-->
												<!--<th>DateCreated</th>-->
												<!--<th>ModifiedBy</th>-->
												<!--<th>DateModified</th>
											<th>Roles</th>
											<th>Departments</th>-->
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:id="@{|user_${user.id}|}" th:each="user: ${users}">
												<td><input
														class="form-check-input m-0 border border-success selectusercheck"
														type="checkbox" aria-label="Select user"
														th:id="check_+ ${user.id}">
												</td>
												<td th:text="${user.id}"></td>
												<td> <span class="text-muted" th:text="${user.userfirstname}"></span>
												</td>
												<td><span class="note" th:text="${user.userlastname}"></span>
												</td>
												<td><span class="note" th:text="${user.useremail}"></span>
												</td>
												<td th:if="${user.userenabled}">
													<span class="badge bg-success me-1"></span> <span
														th:text="Active"></span>
												</td>
												<td th:if="${!user.userenabled}">
													<span class="badge bg-danger me-1"></span> <span
														th:text="InActive"></span>
												</td>
												<!--<td><span class="note" th:text="${user.createdBy}"></span>-->
												<!--</td>-->
												<!--<td><span class="note" th:text="${user.createdDate}"></span>-->
												<!--</td>-->
												<!--<td><span class="note" th:text="${user.lastModifiedBy}"></span>-->
												<!--</td>-->
												<!--<td><span class="note" th:text="${user.lastModifiedDate}"></span> </td>
											<td>

												<th:block th:each="role: ${user.roles}">
													<p th:text="${role.id + ':' + role.name}"></p>
												</th:block>
											</td>
											<td>

												<th:block th:each="dept: ${user.departments}">
													<p th:text="${dept.id + ':' + dept.departmentname}"></p>
												</th:block>
											</td>-->
												</span>
												<td><a class="dropdown text-primary" href="#" role="button"
														data-bs-toggle="dropdown" aria-expanded="false">
														<i class="fa-solid fa-user-gear fa-xl text-primary"></i>
														<!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
														<ul class="dropdown-menu">
															<li><a class="dropdown-item" href="#"
																	th:onclick="showUserInfo([[${user}]]);"
																	title="User Details"><i
																		class="fa-solid fa-circle-info text-info fa-xl mx-2"></i>
																	Details</a></li>
															<li><a class="dropdown-item" href="#"
																	th:if="${! user.userenabled}"
																	th:onclick="activateUser([[${user.id}]], this);"
																	title="Activate this User"><i
																		class="fa-solid fa-check text-success fa-xl mx-2"></i>
																	Activate</a></li>
															<li><a class="dropdown-item" href="#"
																	th:href="@{/adminuseredit/{id}(id=${user.id})}"
																	title="Edit this user"><i
																		class="fa-solid fa-user-pen text-warning fa-xl mx-2"></i>Edit
																	User</a></li>
															<li><a class="dropdown-item" href="#"
																	th:if="${user.userenabled}"
																	th:onclick="deActivateUser([[${user.id}]], this);"
																	title="De-Activate this User"><i
																		class="fa-solid fa-x text-danger fa-xl mx-2"></i>
																	De-Activate</a></li>

															<li><a class="nav-item dropdown dropdown-item" href="#"
																	th:onclick="deleteUser([[${user.id}]], this);"
																	title="Delete this user"><i
																		class="fa-regular fa-trash-can text-danger fa-xl mx-2"></i>Delete</a>
															</li>
														</ul>
													</a>


												</td>
											</tr>
										</tbody>

									</table>
								</div>
							</div>


							<div class="card-footer d-flex align-items-center" th:if="${!users.empty}">
								<p class="m-0">Showing: <span th:text="${totalItems}"></span> from total: <span
										th:text="${totalusers}"></span> </p>
								<ul class="pagination m-0 ms-auto" th:if="${totalPages > 0}">
									<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
										<a
											th:replace="~{fragments/paging :: userpaging(1, '< First ', 'First Page')}"></a>
									</li>
									<li class="page-item font-weight-bold"
										th:classappend="${currentPage == 1} ? 'disabled'">
										<a
											th:replace="~{fragments/paging :: userpaging(${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
									</li>
									<li class="page-item disabled" th:if="${currentPage - 2 > 1}"><i
											class="fa-solid fa-ellipsis fa-xl text-primary mt-1 mx-2"></i>
									</li>
									<li class="page-item" th:classappend="${page == currentPage} ? 'active'"
										th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
										<a
											th:replace="~{fragments/paging :: userpaging(${page}, ${page}, 'Page ' + ${page})}"></a>
									</li>
									<li class="page-item disabled" th:if="${currentPage + 2 < totalPages}"><i
											class="fa-solid fa-ellipsis fa-xl text-primary mt-1 mx-2"></i>
									</li>
									<li class="page-item font-weight-bold"
										th:classappend="${currentPage == totalPages} ? 'disabled'">
										<a
											th:replace="~{fragments/paging :: userpaging(${currentPage + 1},'Next', 'Next Page')}"></a>
									</li>
									<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
										<a
											th:replace="~{fragments/paging :: userpaging(${totalPages}, ' Last >', 'Last Page')}"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">New User</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="mb-3">
								<label class="form-label">Name</label>
								<input type="text" class="form-control" name="example-text-input"
									placeholder="Email-id">
							</div>
							<label class="form-label">User type</label>
							<div class="form-selectgroup-boxes row mb-3">
								<div class="col-lg-6">
									<label class="form-selectgroup-item">
										<input type="radio" name="report-type" value="1" class="form-selectgroup-input"
											checked>
										<span class="form-selectgroup-label d-flex align-items-center p-3">
											<span class="me-3">
												<span class="form-selectgroup-check"></span>
											</span>
											<span class="form-selectgroup-label-content">
												<span class="form-selectgroup-title strong mb-1">Activated</span>
												<span class="d-block text-muted">Set user as Active</span>
											</span>
										</span>
									</label>
								</div>
								<div class="col-lg-6">
									<label class="form-selectgroup-item">
										<input type="radio" name="report-type" value="1" class="form-selectgroup-input">
										<span class="form-selectgroup-label d-flex align-items-center p-3">
											<span class="me-3">
												<span class="form-selectgroup-check"></span>
											</span>
											<span class="form-selectgroup-label-content">
												<span class="form-selectgroup-title strong mb-1">DeActivated</span>
												<span class="d-block text-muted">Set user as DeActivated</span>
											</span>
										</span>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-8">
									<div class="mb-3">
										<label class="form-label">Report url</label>
										<div class="input-group input-group-flat">
											<span class="input-group-text">
												https://github.com/ajkr195/ContentPlusPlus
											</span>
											<!--<input type="text" class="form-control ps-0" value="report-01" autocomplete="off">-->
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="mb-3">
										<label class="form-label">Roles</label>
										<select class="form-select">
											<option value="1" selected>Private</option>
											<option value="2">Public</option>
											<option value="3">Hidden</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-6">
									<div class="mb-3">
										<label class="form-label">Department</label>
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="mb-3">
										<label class="form-label">Reporting period</label>
										<input type="date" class="form-control">
									</div>
								</div>
								<div class="col-lg-12">
									<div>
										<label class="form-label">Additional information</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
								Cancel
							</a>
							<a href="#" class="btn app-btn-primary ms-auto" data-bs-dismiss="modal">
								<i class="fa-regular fa-circle-check fa-lg me-2"></i>
								Submit
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal -->

			<div th:replace="~{fragments/footer :: footer}"></div>

		</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/font-awesome/js/all.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/sweetalert2/dist/sweetalert2.all.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/app.js}"></script>
	<script type="text/javascript" th:src="@{/js/userdata.js}"></script>
	<script>

		var select_element = document.getElementById('pageSizeSelect');

		select_element.onchange = function () {
			var elem = (typeof this.selectedIndex === "undefined" ? window.event.srcElement : this);
			var value = elem.value || elem.options[elem.selectedIndex].value;
			//alert(value);
			window.location.replace("/listuser?pageSize=" + value
				+ "&page=1");
		}

	</script>
	<script type="text/javascript">
		function getSelectedCheckBoxes() {

			var message = "";
			let checkBoxes = document.querySelectorAll(".selectusercheck");
			for (var i = 0; i < checkBoxes.length; i++) {
				if (checkBoxes[i].checked) {
					var row = checkBoxes[i].parentNode.parentNode;
					message += row.cells[1].innerHTML;
				}
			}

			alert(message);



		}
	</script>



	<script>
		const checkbox = document.getElementById('checkAllUsers')
		var message = "";
		checkbox.addEventListener('change', (event) => {
			if (event.currentTarget.checked) {
				//alert('checked');
				let checkboxes = document.querySelectorAll(".selectusercheck");
				checkboxes.forEach(function (ele) {
					ele.checked = !!checkbox.checked;
				});
			} else {
				//alert('UnChecked');
				let checkboxes = document.querySelectorAll(".selectusercheck");
				checkboxes.forEach(function (ele) {
					ele.checked = checkbox.checked;
				});
			}
		})
	</script>

	<script>
		function clearInputKeyword() {
			document.getElementById("keyword").value = "";
			window.location = "[[@{/listuser}]]";
			//location.reload();
		}
	</script>

	<script>
		function changePageSize() {
			let form = document.getElementById("searchForm");
			form.submit();
		}
	</script>
</body>

</html>